<div class="container mb-5">
    <!-- Filtors -->
    <div class="row sticky-section border-0 rounded-4 p-3 shadow mb-5">
        <div class="row">
            <!-- Filtro de fechas -->
            <div class="col d-flex gap-3">
                <div class="col">
                    <input id="fechaInicio" type="date" class="form-control border-1 bg-light" [(ngModel)]="fechaInicio" 
                    (ngModelChange)="filtrar()">
                </div>
                <div class="col">
                    <input id="fechaFin" type="date" class="form-control border-1 bg-light" [(ngModel)]="fechaFin"
                    (ngModelChange)="filtrar()">
                </div>
            </div>
            <!-- Botones de exportar -->
            <div class="col-auto d-flex gap-1 ms-auto">
                <button class="btn btn-primary filterbutton" data-bs-toggle="modal" title="Filtros Avanzados"
                    data-bs-target="#filtrosAvanzados">
                    <i class="bi bi-funnel-fill"></i>
                </button>
                <button type="button" class="btn btn-secondary bi bi-trash filterbutton"
                    title="Limpiar Filtros" (click)=" limpiarFiltro()">
                </button>
            </div>
        </div>
    </div>
    <div class="row position-relative min-vh-75">

        <div class="col-md-4">
            <div class="card border-0 shadow-lg  rounded-4 h-100 w-100">
                <div class="card-body">
                    <div class=" align-items-center mb-4">
                        <div>
                            <h5 class="card-title text-secondary mb-1 d-flex justify-content-center">Porcentaje asistencias</h5>
                        </div>
                    </div>
                    <google-chart [type]="chartTypeCirculo" [data]="dataAsistencias" [options]="chartOptionsAsistencias"
                        class="w-100 expanded-chart-content">
                    </google-chart>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="card border-0 shadow-lg  rounded-4 h-100 w-100">
                <div class="card-body">
                    <div class=" align-items-center mb-4">
                        <div>
                            <h5 class="card-title text-secondary mb-1 d-flex justify-content-center">Llamados de atencion</h5>
                        </div>
                    </div>
                    <google-chart [type]="chartTypeBarras" [data]="dataLlamados" [options]="chartOptionsLlamados"
                        class="w-100 expanded-chart-content">
                    </google-chart>
                </div>
            </div>
        </div>
    </div>
</div>