<section class="py-5">

    <div class="container p-3 border border-2 rounded shadow-lg"> <!-- Sección de filtros por columna -->

        <!-- Fila para los botones de exportación alineados a la derecha -->
        <div class="row mb-3 d-flex align-items-center flex-nowrap">

            <!-- Campo de Búsqueda -->
            <div class="me-3" style="flex: 1 1 auto;">
                <input type="text" id="filterInput" class="form-control" placeholder="Buscar"
                    (input)="applyFilter($event)" />
            </div>

            <!-- Campo Desde para seleccionar la fecha de inicio -->
            <div class="me-3" style="flex: 1 1 auto;">
                <input type="date" id="startDate" class="form-control" #startDateInput (change)="onStartDateChange()" />
            </div>

            <!-- Campo Hasta para seleccionar la fecha de fin -->
            <div class="me-3" style="flex: 1 1 auto;">
                <input type="date" id="endDate" class="form-control" #endDateInput (change)="onEndDateChange()" />
            </div>

            <!-- Contenedor de botones alineados a la derecha -->
            <div class="d-flex justify-content-end align-items-center" style="flex: 1 1 auto;">
                <!-- Botón para mostrar/ocultar filtros -->
                <button class="btn btn-primary me-2" (click)="toggleFilters()">
                    <i class="bi bi-funnel-fill"></i>
                </button>

                <!-- Botón para limpiar filtros -->
                <button class="btn btn-secondary me-2" (click)="cleanColumnFilters()">
                    <i class="bi bi-trash"></i>
                </button>

                <!-- Botón para exportar a Excel -->
                <button class="btn btn-success me-2" (click)="exportToExcel()">
                    <i class="fa-solid bi-file-earmark-excel"></i>
                </button>

                <!-- Botón para exportar a PDF -->
                <button class="btn btn-danger" (click)="exportToPdf()">
                    <i class="fas bi-file-earmark-pdf"></i>
                </button>
            </div>
        </div>



        <div *ngIf="filtersVisible" class="row mb-3">

            <div class="col-md-4">
                <input type="text" placeholder="Solicitante" (input)="applyColumnFilter($event, 'supplier')"
                    class="form-control" />
            </div>

            <div class="col-md-4">
                <input type="text" placeholder="Producto" (input)="applyColumnFilter($event, 'supplier')"
                    class="form-control" />
            </div>

            <div class="col-md-4">
                <input type="text" placeholder="Tipo" (input)="applyColumnFilter($event, 'supplier')"
                    class="form-control" />
            </div>

        </div>

        <table id="movementsTable" class="table table-striped mt-4">

        </table>
    </div>

    <div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="detailsModalLabel">Detalles del Movimiento</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <p><strong>Fecha:</strong> {{ selectedMovement?.date | date: 'short' }}</p>
                    <p><strong>Solicitante:</strong> {{ selectedMovement?.applicant }}</p>
                    <p><strong>Tipo:</strong> {{ selectedMovement?.movement_type ?? '' | warehouseType }}</p>
                    <p class="mb-0"><strong>Productos:</strong> </p>
                    <ul>
                        @for (product of selectedMovement?.detailProducts; track $index) {
                        <li>{{ product.description}}</li>
                        }
                    </ul>
                    <p><strong>Responsable: </strong>{{ selectedMovement?.responsible }} </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</section>