<section class="py-5">

    <div class="container p-3 border border-2 rounded shadow-lg">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-3">
                <div class="mb-3">
                    <label for="createdDate" class="form-label">Del día</label>
                    <input type="date" class="form-control" id="createdDate" [(ngModel)]="searchParams.createdDate" 
                        (ngModelChange)="searchMovements()">
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
                <div class="mb-3">
                    <label for="applicantOrResponsible" class="form-label">Solicitante / Responsable</label>
                    <input type="text" class="form-control" id="applicantOrResponsible" [(ngModel)]="searchParams.applicantOrResponsible"
                        (ngModelChange)="searchMovements()">
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
                <div class="mb-3">
                    <label for="productId" class="form-label">Producto</label>
                    <select id="productId" class="form-select" [(ngModel)]="searchParams.productId" 
                        (ngModelChange)="searchMovements()">
                        <option value="">Todos</option>
                        @for (product of products; track $index) {
                        <option value="{{product.id}}">{{ product.name}}</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
                <div class="mb-3">
                    <label for="movementType" class="form-label">Tipo</label>
                    <select id="movementType" class="form-select" [(ngModel)]="searchParams.movementType" 
                        (ngModelChange)="searchMovements()">
                        <option value="">Todos</option>
                        <option value="RETURN">Devolución</option>
                        <option value="LOAN">Préstamo</option>
                        <option value="TO_MAINTENANCE">Uso</option>
                    </select>
                </div>
            </div>
        </div>
        

        <!-- Fila para los botones de exportación alineados a la derecha -->
        <div class="row mb-2">
            <div class="col d-flex justify-content-end">
                <button class="btn btn-success me-2" (click)="exportToExcel()">
                    <i class="fa-solid fa-file-excel"></i>
                </button>
                <button class="btn btn-danger" (click)="exportToPdf()">
                    <i class="fas fa-file-pdf"></i>
                </button>
            </div>
        </div>

        <table id="movementsTable" class="table table-striped mt-4">

        </table>
    </div>

    <div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="detailsModalLabel">Detalles del Movimiento</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <p><strong>Fecha:</strong> {{ selectedMovement?.date | date: 'short' }}</p>
                    <p><strong>Solicitante:</strong> {{ selectedMovement?.applicant }}</p>
                    <p><strong>Tipo:</strong> {{ selectedMovement?.movement_type ?? '' | warehouseType }}</p>
                    <p class="mb-0"><strong>Productos:</strong> </p>
                    <ul>
                        @for (product of selectedMovement?.detailProducts; track $index) {
                        <li>{{ product.description}}</li>
                        }
                    </ul>
                    <p><strong>Responsable: </strong>{{ selectedMovement?.responsible }} </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</section>