<section class="py-5">
  <div class="container p-3 border border-2 rounded shadow-lg">
    <!-- Sección de filtros por columna -->

    <!-- Fila para los botones de exportación alineados a la derecha -->
    <div class="row mb-3 d-flex align-items-center flex-nowrap">
      <!-- Campo de Búsqueda -->
      <div class="" style="flex: 1 1 auto">
        <input
          type="text"
          id="filterInput"
          class="form-control"
          placeholder="Buscar"
          (input)="applyFilters()"
          [(ngModel)]="tempFilters.general"
        />
      </div>

      <!-- Campo Desde para seleccionar la fecha de inicio -->
      <div class="" style="flex: 1 1 auto">
        <input
          type="date"
          id="startDate"
          class="form-control"
          #startDateInput
          (change)="onStartDateChange(startDateInput.value)"
        />
      </div>

            <!-- Campo de Búsqueda -->
            <div class="" style="flex: 1 1 auto;">
                <input type="text" id="filterInput" class="form-control" placeholder="Buscar"
                    (input)="applyFilters()" [(ngModel)]="tempFilters.general"/>
            </div>

            <!-- Campo Desde para seleccionar la fecha de inicio -->
            <div class="" style="flex: 1 1 auto;">
                <input type="date" id="startDate" class="form-control" #startDateInput
                  (change)="onStartDateChange(startDateInput.value)" />
              </div>
              

            <!-- Campo Hasta para seleccionar la fecha de fin -->
            <div class="" style="flex: 1 1 auto;">
                <input type="date" id="endDate" class="form-control" #endDateInput 
                (change)="onEndDateChange(endDateInput.value)" />
            </div>
            <div class="dropdown" style="flex-grow: 1; max-width: 300px;">
                <ng-select 
                  [items]="movementTypes" 
                  [(ngModel)]="tempFilters.movement_type" 
                  bindLabel="label" 
                  bindValue="value" 
                  [multiple]="true" 
                  placeholder="Tipo de Movimiento" 
                  (change)="applyFilters()">

                  <ng-template ng-multi-label-tmp let-items="items">
                    Seleccionar Tipo
                    <span *ngIf="items.length > 0">({{ items.length }})</span>
                  </ng-template>
              
                  <!-- Template para las opciones del dropdown -->
                  <ng-template ng-option-tmp let-item="item" let-item$="item$">
                    <input type="checkbox" [checked]="item$.selected"/> {{item.label}}
                  </ng-template>

                </ng-select>
              </div>
              
            <!-- Contenedor de botones alineados a la derecha -->
            <div class="d-flex justify-content-end align-items-center" style="flex: 1 1 auto;">

                <!-- Botón para mostrar/ocultar filtros -->
                <!-- <div class="col-mb-3">
                    <button class="btn btn-primary me-2" data-bs-toggle="modal" title="Filtros Avanzados"
                        data-bs-target="#filtrosAvanzados">
                        <i class="bi bi-sort-down-alt"></i>
                    </button>
                </div> -->

        <!-- Botón para limpiar filtros -->
        <button class="btn btn-secondary me-2" (click)="cleanColumnFilters()">
          <i class="bi bi-trash"></i>
        </button>

        <!-- Botón para exportar a Excel -->
        <button class="btn btn-success me-2" (click)="exportToExcel()">
          <i class="fa-solid bi-file-earmark-excel"></i>
        </button>

        <!-- Botón para exportar a PDF -->
        <button class="btn btn-danger" (click)="exportToPdf()">
          <i class="fas bi-file-earmark-pdf"></i>
        </button>
      </div>
    </div>

    <div class="row">
      <table
        id="movementsTable"
        class="table table-striped border border-4 rounded table-hover"
      >
        <thead class="table-light border border-4"></thead>
      </table>
    </div>
  </div>

  <!-- Advanced Filters Modal -->
  <div
    class="modal fade"
    id="filtrosAvanzados"
    tabindex="-1"
    aria-labelledby="filtrosAvanzadosLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h5 class="modal-title" id="filtrosAvanzadosLabel">
            Filtros Avanzados
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>

        <!-- Modal Body -->
        <div class="modal-body">
          <!-- Min Amount Section -->
          <!-- <div class="mb-3">
                        <label for="" class="form-label">Solicitante</label>
                        <input type="text" placeholder="Solicitante" data-column="applicant"
                        class="form-control" [(ngModel)]="tempFilters.applicant"
                        (input)="applyFilters()"    
                        />
                    </div> -->

          <!-- <div class="mb-3">
                        <label for="" class="form-label">Producto</label>
                        <input type="text" placeholder="Productos" data-column="detailProducts"
                             class="form-control" 
                             [(ngModel)]="tempFilters.detailProducts"
                             (input)="applyFilters()"
                             />
                    </div> -->

          <!-- Period Section -->
          <div class="mb-3">
            <label for="periodo" class="form-label"
              >Seleccionar tipo movimiento</label
            >
            <div class="dropdown">
              <button
                class="btn btn-outline-secondary dropdown-toggle w-100 text-start"
                type="button"
                id="dropdownReusable"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Tipo de Movimiento @if (tempFilters.movement_type.length > 0) {
                ({{ tempFilters.movement_type.length }}) }
                <span class="selected-movimiento"></span>
              </button>
              <ul
                class="dropdown-menu w-100"
                aria-labelledby="dropdownTipoMovimiento"
              >
                <li>
                  <label class="dropdown-item">
                    <input
                      type="checkbox"
                      class="form-check-input me-2"
                      name="movement_type"
                      value="RETURN"
                      (change)="applyColumnFilter('RETURN')"
                    />
                    Devolución
                  </label>
                </li>
                <li>
                  <label class="dropdown-item">
                    <input
                      type="checkbox"
                      class="form-check-input me-2"
                      name="movement_type"
                      value="LOAN"
                      (change)="applyColumnFilter('LOAN')"
                    />
                    Préstamo
                  </label>
                </li>
                <li>
                  <label class="dropdown-item">
                    <input
                      type="checkbox"
                      class="form-check-input me-2"
                      name="movement_type"
                      value="TO_MAINTENANCE"
                      (change)="applyColumnFilter('TO_MAINTENANCE')"
                    />
                    Uso
                  </label>
                </li>
              </ul>
            </div>
          </div>

          <!-- Modal Footer -->
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Cerrar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
