<div class="container d-flex align-items-center justify-content-center min-vh-100">
    <div class="row justify-content-center">
        <div class="col-md-8 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form>
                        <div class="row">
                            <!-- Campo Tipo de Movimiento con label y botones en toda la primera fila -->
                            
                                
                                <div class="col-6 text-end">

                                <label for="btn-group" class="col-6 form-label text-end"><h5>Tipo de Movimiento</h5></label>

                                </div>
                                <div class="col-6 mb-5 ">
                                    <div class="btn-group" role="group" aria-label="Radio toggle button group">
                                        <!-- Botón de opción I (verde cuando está seleccionado) -->
                                        <input type="radio" 
                                               class="btn-check" 
                                               name="tipoMovimiento" 
                                               id="btnRadio1" 
                                               autocomplete="off" 
                                               (click)="tipoMovimiento = 'I'">
                                        <label class="btn btn-outline-secondary rounded-circle d-flex align-items-center justify-content-center" 
                                               [ngClass]="{'btn-success': tipoMovimiento === 'I', 'btn-outline-secondary': tipoMovimiento !== 'I'}"
                                               style="width: 45px; height: 45px;"
                                               for="btnRadio1" 
                                               data-bs-toggle="tooltip" 
                                               data-bs-placement="top" 
                                               title="Ingreso">I</label>
                        
                                        <!-- Botón de opción E (rojo cuando está seleccionado) -->
                                        <input type="radio" 
                                               class="btn-check" 
                                               name="tipoMovimiento" 
                                               id="btnRadio2" 
                                               autocomplete="off" 
                                               (click)="tipoMovimiento = 'E'">
                                        <label class="btn btn-outline-secondary rounded-circle d-flex align-items-center justify-content-center ms-2" 
                                               [ngClass]="{'btn-danger': tipoMovimiento === 'E', 'btn-outline-secondary': tipoMovimiento !== 'E'}"
                                               style="width: 45px; height: 45px;"
                                               for="btnRadio2"
                                               data-bs-toggle="tooltip" 
                                               data-bs-placement="top" 
                                               title="Egreso">E</label>
                                    </div>
                                
                                
                            </div>
                            <!-- todo para la alta  -->
                            @if(tipoMovimiento==="I"){
                            
                            
                           
                            <div class="col-md-6 mb-3">
                                <div class="row align-items-center">
                                    <label class="col-4 text-end form-label">Articulo</label>
                                    <div class="col-8">
                                        <ng-select type="text"  name="producto" placeholder="Buscar producto">
                                        </ng-select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 mb-3">
                                <div class="row align-items-center">
                                    <label class="col-4 text-end form-label">Cantidad</label>
                                    <div class="col-8">
                                        <input type="text" class="form-control" name="zona" placeholder=" ">
                                    </div>
                                </div>
                            </div>

                     

                            <!-- Campo SA/SCR -->
                             
                            <div class="col-md-6 mb-3">                               
                                    <div class="row align-items-center">
                                        <label class="col-4 text-end form-label">Precio Unit.</label>
                                        <div class="col-8">
                                            <input type="text" class="form-control" name="zona" placeholder=" ">
                                        </div>
                                    </div>
                            </div>
                                                      
                               <!-- Campo proveedores -->
                              
                                <div class="col-md-6 mb-3">
                                    <div class="row align-items-center">
                                        <label class="col-4 text-end form-label">Proveedor</label>
                                        <div class="col-8">
                                            <ng-select type="text"  name="producto" placeholder="Buscar producto">
                                            </ng-select>                       
                                        </div>
                                    </div>
                                </div>
                                


                                <div class="col-md-12 mb-3">
                                    <div class="row">
                                        <div class="col-2 text-end">
                                             <label class="form-label">Justificación</label>
                                        </div>
                                       <div class="col-10"> 
                                        <textarea class="form-control" name="producto" placeholder="Escribe aquí" rows="3"></textarea>
                                       </div>
                                    </div>
                                </div>
                    
                            }
                            <!-- todo para la baja  -->
                            @else{


                                


                            }
                       

                        </div>



                        <div class="text-end mt-3">
                            <button type="submit" class="btn btn-success">Registrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>