<section class="py-5">
  <div class="container p-3 border border-2 rounded shadow-lg">
  <form [formGroup]="proveedorForm" (ngSubmit)="onSubmit()" class="" style="">
    <div class="row">
        
      <div class="col-lg-6 mb-3">
        <div class="row">
          <label class="col-2 col-form-label">Nombre</label>
            <div class="col-10">
               <input
               type="text"
               formControlName="name"
               class="form-control"
               [ngClass]="{'is-invalid': isFieldInvalid('name') || nameExists}"
             />
             <div *ngIf="isFieldInvalid('name') && !nameExists" class="invalid-feedback">
               Este campo es requerido.
             </div>
             <div *ngIf="nameExists" class="invalid-feedback">
               Este nombre ya está en uso.
             </div>
            </div>
        </div>
    </div>

       
    <div class="col-lg-6 mb-3">
      <div class="row">
        <label class="col-2 col-form-label">CUIT</label>
          <div class="col-10">
            <input
            type="text"
            formControlName="cuit"
            class="form-control"
            [ngClass]="{'is-invalid': isFieldInvalid('cuit') || cuitExists}"
          />
          <div *ngIf="isFieldInvalid('cuit') && !cuitExists" class="invalid-feedback">
            Este campo es requerido.
          </div>
          <div *ngIf="cuitExists" class="invalid-feedback">
            Este CUIT ya está en uso.
          </div>  
           </div>
          </div>
      </div>

      <div class="col-lg-6 mb-3">
        <div class="row">
          <label class="col-2 col-form-label">Teléfono</label>
            <div class="col-10">
              <input type="text" formControlName="phoneNumber" class="form-control" [ngClass]="{'is-invalid': isFieldInvalid('phoneNumber')}"/>
          <div *ngIf="isFieldInvalid('phoneNumber')" class="invalid-feedback">
            Debe ingresar un número válido.
          </div>
             </div>
            </div>
        </div>

        <div class="col-lg-6 mb-3">
          <div class="row">
            <label class="col-2 col-form-label">Email</label>
              <div class="col-10">
                <input
                type="email"
                formControlName="email"
                class="form-control"
                [ngClass]="{'is-invalid': isFieldInvalid('email') || emailExists}"
              />
              <div *ngIf="isFieldInvalid('email') && !emailExists" class="invalid-feedback">
                Este campo es requerido.
              </div>
              <div *ngIf="emailExists" class="invalid-feedback">
                Este Email ya está en uso.
              </div>
            </div>
               </div>
        </div>

        <div class="col-lg-6 mb-3">
          <div class="row">
            <label class="col-2 col-form-label">Tipo Proveedor</label>
              <div class="col-10">
                <select formControlName="supplierType" class="form-select" [ngClass]="{'is-invalid': isFieldInvalid('supplierType')}">
                  <option value="" disabled selected>Seleccionar tipo</option>
                  <option value="OTHER">Otro</option>
                  <option value="OUTSOURCED_SERVICE">Servicio externo</option>
                  <option value="INVENTORY_SUPPLIER">Proveedor de Inventario</option>
                </select>
                <div *ngIf="isFieldInvalid('supplierType')" class="invalid-feedback">
                  Este campo es requerido.
                </div>
              </div>
          </div>
        </div>

          
        <div class="col-lg-6 mb-3">
          <div class="row">
            <label class="col-2 col-form-label">Dirección</label>
              <div class="col-10">
                <input type="text" formControlName="address" class="form-control" [ngClass]="{'is-invalid': isFieldInvalid('address')}"/>
                <div *ngIf="isFieldInvalid('address')" class="invalid-feedback">
                  Este campo es requerido.
                </div>
              </div>
          </div>
      </div>



    </div>

  
    <div class="row ">
      <div class="col d-flex justify-content-end gap-3">
          <button type="button" class="btn btn-secondary" [routerLink]="['/home/suppliers']" routerLinkActive="router-link-active">Cancelar</button>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary" style="" [disabled]="proveedorForm.invalid">Registrar</button>
        </div>
      </div>
    </div>
  </form>
</div>
