<div
  class="container d-flex flex-column justify-content-center align-items-center "
>
  <form [formGroup]="proveedorForm" (ngSubmit)="onSubmit()" class="mt-3 bg-white shadow p-3" style="max-width: 500px">
    <div class="row">
      <div class="col-sm-6">
        <div class="mb-3">
          <label class="form-label">Razon social</label>
          <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': hasError('name', 'required') }" />
          <div *ngIf="hasError('name','required')" class="text-danger">
            <span>La razon social es requerida</span>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="mb-3">
          <label class="form-label">Obra social</label>
          <input type="text" formControlName="healthInsurance" class="form-control"  [ngClass]="{ 'is-invalid': hasError('healthInsurance', 'required') }" />
          <div *ngIf="hasError('healthInsurance','required')" class="text-danger">
            <span>La obra social requerida</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="mb-3">
          <label class="form-label">Telefono</label>
          <input type="text" formControlName="phoneNumber" class="form-control"[ngClass]="{
            'is-invalid': hasError('phoneNumber', 'required') || hasError('phoneNumber', 'pattern')
          }" />
          <div *ngIf="hasError('phoneNumber','required')" class="text-danger">
            <span>El telefono es requerido</span>
          </div>
          <div *ngIf="hasError('phoneNumber', 'pattern')" class="text-danger">
            <span>Solo se permiten números en el teléfono.</span>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="mb-3">
          <label class="form-label">Email</label>
          <input type="email" formControlName="email" class="form-control"   [ngClass]="{ 'is-invalid': hasError('healthInsurance', 'required') }"/>
          <div *ngIf="hasError('email','required')" class="text-danger">
            <span>El email es requerido</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="mb-3">
          <label class="form-label">Tipo proveedor</label>
          <select formControlName="supplierType" class="form-select">
            <option value="OTHER">Otro</option>
            <option value="OUTSOURCED_SERVICE">Servicio externo</option>
            <option value="INVENTORY_SUPPLIER">Proveedor de Inventario</option>
           
          </select>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="mb-3">
          <label class="form-label">Direccion</label>
          <input type="text" formControlName="address" class="form-control"  [ngClass]="{ 'is-invalid': hasError('healthInsurance', 'required') }" />
          <div *ngIf="hasError('address','required')" class="text-danger">
            <span>La direccion es requerido</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <label class="form-label">Descripcion</label>
          <textarea formControlName="description" class="form-control" rows="3" ></textarea>
          
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button class="btn btn-secondary" routerLink="/home/suppliers">Volver</button>


      </div>
      <div class="col text-end">
        <button type="submit" class="btn btn-success" [disabled]="proveedorForm.invalid">Registrar</button>
      </div>
    </div>
  </form>
</div>
