<div class="container-fluid d-flex flex-column justify-content-center align-items-center">
  <div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Información sobre Registro de Proveedores</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>
                Bienvenido al sistema de registro de proveedores. Esta sección te permite gestionar la información de los proveedores, asegurando que los datos sean correctos y completos antes de registrar o modificar un proveedor.
              </p>
              <ul>
                <li>
                  <strong>Campos a Completar:</strong>
                  <ul>
                    <li><em>Nombre:</em> Nombre del proveedor. Este campo es obligatorio.</li>
                    <li><em>CUIT:</em> Número de CUIT del proveedor. Este campo es obligatorio.</li>
                    <li><em>Teléfono:</em> Número de contacto del proveedor. Se debe ingresar un número válido.</li>
                    <li><em>Email:</em> Correo electrónico del proveedor. Este campo es obligatorio y debe ser único.</li>
                    <li><em>Tipo de Proveedor:</em> Selecciona el tipo de proveedor (Ejemplo: Otro, Servicio externo, Proveedor de Inventario).</li>
                    <li><em>Dirección:</em> Dirección física del proveedor. Este campo es obligatorio.</li>
                  </ul>
                </li>
                <li>
                  <strong>Acciones Disponibles:</strong>
                  <ul>
                    <li><em>Registrar:</em> Guarda la información del proveedor en el sistema.</li>
                    <li><em>Cancelar:</em> Regresa sin guardar cambios.</li>
                  </ul>
                </li>
              </ul>
              <p><strong>Notas importantes:</strong></p>
              <ul>
                <li>Los campos "Nombre", "CUIT", "Email", y "Dirección" son obligatorios para completar el registro.</li>
                <li>El CUIT y el nombre del proveedor deben ser únicos.</li>
                <li>Verifica que el número de teléfono y el email sean válidos antes de registrar un proveedor.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

  <form [formGroup]="proveedorForm" (ngSubmit)="onSubmit()" class="mt-5 bg-white shadow p-5 mx-2 w-100" style="max-width: 1200px">
    <div class="row">
      <div class="col-md-6">
        <div class="mb-3">
          <label class="form-label">Nombre</label>
          <input
            type="text"
            formControlName="name"
            class="form-control"
            [ngClass]="{'is-invalid': isFieldInvalid('name') || nameExists}"
          />
          <div *ngIf="isFieldInvalid('name') && !nameExists" class="invalid-feedback">
            Este campo es requerido.
          </div>
          <div *ngIf="nameExists" class="invalid-feedback">
            Este nombre ya está en uso.
          </div>
        </div>
      </div>

      <div class="col-md-6"> <!-- Columna para el CUIT -->
        <div class="mb-3">
          <label class="form-label">CUIT</label>
          <input
            type="text"
            formControlName="cuit"
            class="form-control"
            [ngClass]="{'is-invalid': isFieldInvalid('cuit') || cuitExists}"
          />
          <div *ngIf="isFieldInvalid('cuit') && !cuitExists" class="invalid-feedback">
            Este campo es requerido.
          </div>
          <div *ngIf="cuitExists" class="invalid-feedback">
            Este CUIT ya está en uso.
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="mb-3">
          <label class="form-label">Teléfono</label>
          <input type="text" formControlName="phoneNumber" class="form-control" [ngClass]="{'is-invalid': isFieldInvalid('phoneNumber')}"/>
          <div *ngIf="isFieldInvalid('phoneNumber')" class="invalid-feedback">
            Debe ingresar un número válido.
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="mb-3">
          <label class="form-label">Email</label>
          <input
            type="email"
            formControlName="email"
            class="form-control"
            [ngClass]="{'is-invalid': isFieldInvalid('email') || emailExists}"
          />
          <div *ngIf="isFieldInvalid('email') && !emailExists" class="invalid-feedback">
            Este campo es requerido.
          </div>
          <div *ngIf="emailExists" class="invalid-feedback">
            Este Email ya está en uso.
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="mb-3">
          <label class="form-label">Tipo Proveedor</label>
          <select formControlName="supplierType" class="form-select" [ngClass]="{'is-invalid': isFieldInvalid('supplierType')}">
            <option value="" disabled selected>Seleccionar tipo</option>
            <option value="OTHER">Otro</option>
            <option value="OUTSOURCED_SERVICE">Servicio externo</option>
            <option value="INVENTORY_SUPPLIER">Proveedor de Inventario</option>
          </select>
          <div *ngIf="isFieldInvalid('supplierType')" class="invalid-feedback">
            Este campo es requerido.
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="mb-3">
          <label class="form-label">Dirección</label>
          <input type="text" formControlName="address" class="form-control" [ngClass]="{'is-invalid': isFieldInvalid('address')}"/>
          <div *ngIf="isFieldInvalid('address')" class="invalid-feedback">
            Este campo es requerido.
          </div>
        </div>
      </div>
    </div>

  
    <div class="row mt-3">
      <div class="row justify-content-end">
        <div class="col-auto">
          <button type="button" class="btn btn-secondary" (click)="goBack()">Cancelar</button>
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-success" style="width: 100%;" [disabled]="proveedorForm.invalid">Registrar</button>
        </div>
      </div>
    </div>
  </form>
</div>
