<section class="py-5">
  <div class="container p-3 border border-2 rounded shadow-lg">

    <!-- Título del documento -->

    <form class="form">
      <!-- Modal para información adicional sobre el inventario -->
      <div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <!-- Encabezado del modal -->
            <div class="modal-header">
              <h5 class="modal-title" id="infoModalLabel">Información</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- Contenido del modal -->
            <div class="modal-body">
              Esta página de inventario te permite realizar las siguientes acciones:

              <ul>
                <li><strong>Visualizar el inventario completo:</strong> Observa el listado de todos los productos
                  almacenados en el inventario, incluyendo detalles como su disponibilidad, estado y categoría.</li>

                <li><strong>Filtrar productos:</strong> Usa los filtros para afinar la búsqueda según:
                  <ul>
                    <li>Si el producto es <em>Reusable</em> (Sí o No).</li>
                    <li>La <em>Categoría</em> del producto.</li>
                    <li><em>Cantidad mínima</em> y <em>máxima</em>, para definir el rango de cantidades.</li>
                    <li><em>Nombre</em> del producto.</li>
                  </ul>
                  Además, puedes limpiar los filtros seleccionados con el botón de "Limpiar filtros".
                </li>

                <li><strong>Estado de productos por categoría:</strong> Visualiza un resumen del estado actual de los
                  productos (disponibles, en uso o en mantenimiento) por categoría, en la tabla de estado de productos.
                </li>

                <li><strong>Exportar datos:</strong> Genera y descarga informes en formato PDF o Excel para el listado
                  de productos.</li>

                <li><strong>Añadir nuevos productos:</strong> Usa el botón "Nuevo" para abrir el formulario de agregar
                  producto y registrar un nuevo artículo en el inventario.</li>

                <li><strong>Volver al menú principal:</strong> Usa el botón "Volver" para regresar a la página de inicio
                  o menú principal.</li>
              </ul>
            </div>
            <!-- Pie del modal con botón para cerrar -->
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Botones para generar PDF o Excel -->
      <div class="row mb-2">
        <!-- Sección de filtros y botones de exportación -->
        <div class="d-flex mb-3 justify-content-between align-items-center w-100">

          <!-- Contenedor de filtros -->
          <div class="d-flex align-items-center flex-grow-1">

            <!-- Campo de Búsqueda -->
            <div class="me-3" style="min-width: 200px;">
              <input type="text" id="filterInput" class="form-control" placeholder="Buscar" [(ngModel)]="globalFilter"
                name="globalFilter" (input)="applyFilter()" />
            </div>

            <!-- Campo Desde para seleccionar la fecha de inicio -->
            <div class="me-3" style="min-width: 160px;">
              <input type="date" id="startDate" class="form-control" #startDateInput [(ngModel)]="startDate"
                name="startDate" (ngModelChange)="applyFilter()" />
            </div>

            <!-- Campo Hasta para seleccionar la fecha de fin -->
            <div class="me-3" style="min-width: 160px;">
              <input type="date" id="endDate" class="form-control" #endDateInput [(ngModel)]="endDate" name="endDate"
                (ngModelChange)="applyFilter()" />
            </div>

            <!-- Botón para mostrar/ocultar filtros -->
            <div class="me-1">
              <button class="btn btn-primary" data-bs-toggle="modal" title="Filtros Avanzados"
                data-bs-target="#filtrosAvanzados">
                <i class="bi bi-sort-down-alt"></i>
              </button>
            </div>

            <!-- Botón para limpiar filtros -->
            <div class="me-1">
              <button class="btn btn-secondary" (click)="cleanFilters()">
                <i class="bi bi-trash"></i>
              </button>
            </div>
          </div>

          <!-- Botones para exportar datos a PDF y Excel -->
          <div class="d-flex align-items-center ms-2">
            <button class="btn btn-success" (click)="generarExcel()" title="Exportar a Excel">
              <i class="fa-solid bi-file-earmark-excel"></i>
            </button>
            <button class="btn btn-danger ms-2" (click)="generarPdf()" title="Exportar a PDF">
              <i class="fas bi-file-earmark-pdf"></i>
            </button>
          </div>

        </div>
      </div>


      <div>
        <table class="table table-striped" id="productsList"></table>
      </div>

      <!-- Botones de navegación: Volver y agregar nuevo producto -->
    </form>


    <!-- Modal para aumento de stock -->
    <div class="modal fade" id="aumentoStock" tabindex="-1">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Agregar Aumento de Stock</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <app-iep-stock-increase *ngIf="showAumentoStockModal"></app-iep-stock-increase>
          </div>
        </div>
      </div>
    </div>

    <div class="modal-backdrop fade" [class.show]="showNuevoProductoModal || showAumentoStockModal"
      *ngIf="showNuevoProductoModal || showAumentoStockModal" (click)="handleModalBackdropClick($event)">
    </div>



  </div>

  <div class="modal fade" id="filtrosAvanzados" tabindex="-1" aria-labelledby="filtrosAvanzadosLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h5 class="modal-title" id="filtrosAvanzadosLabel">Filtros Avanzados</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <!-- Modal Body -->
        <div class="modal-body">

          <!-- Filtro por nombre -->
          <div class="mb-3">
            <label for="Nombre" class="form-label">Nombre</label>
            <input type="text" id="Nombre" name="Nombre" class="form-control" [(ngModel)]="nombre" #Nombre="ngModel"
              placeholder="" />
          </div>

          <!-- Dropdown para Categorías -->
          <div class="mb-3">
            <label for="dropdownCategorias" class="form-label">Categoría</label>
            <br>
            <button class="btn btn-outline-secondary dropdown-toggle w-100 text-start" type="button"
              id="dropdownCategorias" data-bs-toggle="dropdown" aria-expanded="false">
              Seleccionar categorías
              <span
                *ngIf="filters.categoriasSeleccionadas.length > 0">({{filters.categoriasSeleccionadas.length}})</span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownCategorias">
              <li *ngFor="let c of categories">
                <label class="dropdown-item">
                  <input type="checkbox" class="form-check-input me-2" [value]="c.id"
                    (change)="onCategoriaChange($event, c.id)">
                  {{ c.category }}
                </label>
              </li>
            </ul>
          </div>

          <!-- Selector de reutilizables -->
          <div class="mb-3">
            <label for="dropdownReusable" class="form-label">Reutilizables</label>
            <button class="btn btn-outline-secondary dropdown-toggle w-100 text-start" type="button"
              id="dropdownReusable" data-bs-toggle="dropdown" aria-expanded="false">
              Seleccionar reutilizables
              <span
                *ngIf="filters.reutilizableSeleccionado.length > 0">({{filters.reutilizableSeleccionado.length}})</span>
            </button>
            <ul class="dropdown-menu w-100" aria-labelledby="dropdownReusable">
              <li>
                <label class="dropdown-item">
                  <input type="checkbox" class="form-check-input me-2" name="reusable" [value]="1"
                    (change)="onReutilizableChange($event, 1)">
                  Sí
                </label>
              </li>
              <li>
                <label class="dropdown-item">
                  <input type="checkbox" class="form-check-input me-2" name="reusable" [value]="2"
                    (change)="onReutilizableChange($event, 2)">
                  No
                </label>
              </li>
            </ul>
          </div>

          <!-- Cantidad mínima -->
          <div class="mb-3">
            <label for="CantMinima" class="form-label">Cantidad Mínima</label>
            <input type="number" id="CantMinima" name="CantMinima" class="form-control text-end"
              [(ngModel)]="cantMinima" (ngModelChange)="validarCantidades()" #CantMinima="ngModel" min="0"
              placeholder="" />
            <div *ngIf="!validoMin" class="error-container mt-1 text-danger">
              La cantidad mínima no puede ser mayor a la cantidad máxima
            </div>
          </div>

          <!-- Cantidad máxima -->
          <div class="mb-3">
            <label for="CantMaxima" class="form-label">Cantidad Máxima</label>
            <input type="number" id="CantMaxima" name="CantMaxima" class="form-control text-end"
              [(ngModel)]="cantMaxima" (ngModelChange)="validarCantidades()" #CantMaxima="ngModel" min="0"
              placeholder="" />
            <div *ngIf="!validoMax" class="error-container mt-1 text-danger">
              La cantidad máxima no puede ser menor a la cantidad mínima
            </div>
          </div>


          <!-- Modal Footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary" [disabled]="botonDeshabilitado"
              (click)="aplicarFiltrosCompletos()" data-bs-dismiss="modal">Aplicar</button>
          </div>

        </div>
      </div>
    </div>
  </div>

</section>