<div class="container mt-4">
    <div class="card">
      <div class="card-header bg-primary text-white">
        <h2 class="mb-0">Registro de Cargo</h2>
      </div>
      <div class="card-body">
        <form [formGroup]="cargoForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="charge" class="form-label">Cargo</label>
            <input type="text" class="form-control" id="charge" formControlName="charge" placeholder="Ingrese el cargo">
            <div *ngIf="cargoForm.get('charge')?.invalid && (cargoForm.get('charge')?.dirty || cargoForm.get('charge')?.touched)" class="text-danger">
              <small *ngIf="cargoForm.get('charge')?.errors?.['required']">El cargo es requerido.</small>
            </div>
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Descripción</label>
            <textarea class="form-control" id="description" formControlName="description" rows="3" placeholder="Ingrese la descripción del cargo"></textarea>
            <div *ngIf="cargoForm.get('description')?.invalid && (cargoForm.get('description')?.dirty || cargoForm.get('description')?.touched)" class="text-danger">
              <small *ngIf="cargoForm.get('description')?.errors?.['required']">La descripción es requerida.</small>
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <button type="button" class="btn btn-danger">Cancelar</button> 
            <button type="submit" class="btn btn-success" [disabled]="cargoForm.invalid">Aceptar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
