<!-- tabla.component.html -->
<button (click)="toggleFiltro()" class="btn btn-secondary mb-3">
  {{ mostrarFiltro ? 'Ocultar Filtro' : 'Mostrar Filtro' }}
</button>

<div *ngIf="mostrarFiltro">
  <app-filtro 
    [productos]="productosNombres" 
    (filtroAplicado)="aplicarFiltro($event)" 
    (filtrosEliminados)="resetearFiltros()"></app-filtro>
</div>

<div class="table-responsive mt-4">
  <table class="table table-striped table-hover">
    <thead class="table-light">
      <tr>
        <th (click)="ordenarPor('product')" style="cursor: pointer;">Producto</th>
        <th (click)="ordenarPor('modificationType')" style="cursor: pointer;">Tipo Movimiento</th>
        <th (click)="ordenarPor('date')" style="cursor: pointer;">Fecha</th>
        <th (click)="ordenarPor('supplier')" style="cursor: pointer;">Proveedor</th>
        <th (click)="ordenarPor('amount')" style="cursor: pointer;">Cantidad</th>
        <th (click)="ordenarPor('description')" style="cursor: pointer;">Justificativo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let producto of productosFiltrados">
        <td>{{ producto.product }}</td>
        <td>{{ producto.modificationType }}</td>
        <td>{{ producto.date | date: 'dd-MM-yyyy' }}</td>
        <td>{{ producto.supplier }}</td>
        <td>{{ producto.amount }}</td>
        <td>{{ producto.description }}</td>
      </tr>
      <tr *ngIf="productosFiltrados.length === 0">
        <td colspan="6" class="text-center">No se encontraron productos.</td>
      </tr>
    </tbody>
  </table>
</div>
