/* employee-performance.component.css */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #f4f4f4;
  }
  
  tbody tr:hover {
    background-color: #f1f1f1;
  }
  
  input[type="date"], button {
    margin: 5px;
    padding: 8px;
  }
  
  button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .text-center {
    color: #6c757d;
    font-style: italic;
  }

  .nuevo-llamado-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    background-color: #28a745;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
  }

  .inner-container {
    background-color: #f8f9fa; /* Color de fondo suave */
    padding: 20px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

  