<div class="container mt-5">
    <h2 class="text-center mb-4">Listado de Desempeño</h2>
    
    <div class="form-group">
        <label for="startDate">Fecha Inicio:</label>
        <input id="startDate" type="date" [(ngModel)]="startDate" class="form-control" />
    
        <label for="endDate">Fecha Fin:</label>
        <input id="endDate" type="date" [(ngModel)]="endDate" class="form-control" />
    
        <button (click)="onFilterByDate()" class="btn btn-primary mt-3">Filtrar</button>
    </div>

    <table id="employeePerformanceTable" class="table table-striped table-bordered">
        <thead class="thead-light">
            <tr>
                <th>FECHA INICIO</th> <!-- Aquí está primero la fecha de inicio -->
                <th>FECHA FIN</th>    <!-- Luego la fecha de fin -->
                <th>NOMBRE</th>
                <th>CARGO</th>
                <th>DESEMPEÑO</th>
                <th>OBSERVACIONES</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ep of employeePerformances">
                <td>
                    <ng-container *ngIf="ep.performance.length > 0; else noDates">
                        {{ ep.performance[0].startDate | date:'dd/MM/yyyy' }}
                    </ng-container>
                    <ng-template #noDates>No hay fechas</ng-template>
                </td>
                <td>
                    <ng-container *ngIf="ep.performance.length > 0; else noDates">
                        {{ ep.performance[0].endDate | date:'dd/MM/yyyy' }}
                    </ng-container>
                    <ng-template #noDates>No hay fechas</ng-template>
                </td>
                <td>{{ ep.employee.fullName }}</td>
                <td>{{ ep.employee.position }}</td>
                <td>
                    <ng-container *ngIf="ep.performance.length > 0; else noPerformance">
                        {{ ep.performance[0].performanceType }}
                    </ng-container>
                    <ng-template #noPerformance>No hay datos</ng-template>
                </td>
                <td>
                    <ng-container *ngIf="ep.performance.length > 0; else noObservations">
                        {{ ep.performance.length }} <!-- Cantidad de observaciones -->
                    </ng-container>
                    <ng-template #noObservations>No hay observaciones</ng-template>
                </td>
            </tr>
        </tbody>
    </table>
</div>





  
  