<div class="container">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="text-left">Desempeño de Empleado</h2>
    <button class="btn btn-primary info-button d-flex justify-content-center align-items-center"
      data-bs-toggle="modal" data-bs-target="#infoModal" style="background-color: rgb(0, 68, 255); 
      width: 40px; 
      height: 40px; 
      border-radius: 5px; 
      padding: 0; 
      border: none;" (click)="openInfoModal()">
      <!-- Ícono de información -->
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#ffffff" class="bi bi-info-circle">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
        <path
            d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />
      </svg>
    </button>
  </div>

  <!-- Botones de exportación alineados a la derecha -->
  <div class="row mb-3">
    <div class="col-md-12 d-flex justify-content-end">
      <button class="btn btn-success me-2" (click)="exportToExcel()">
        <i class="fa-solid fa-file-excel"></i>
      </button>
      <button class="btn btn-danger me-2" (click)="exportToPdf()">
        <i class="fas fa-file-pdf"></i>
      </button>
    </div>
  </div>

  <div class="row mb-3 align-items-center">
    <!-- Modal de Información -->
    <div class="modal-overlay" *ngIf="showInfoModal" (click)="closeInfoModal()"></div>
    <div class="modal fade" tabindex="-1" [class.show]="showInfoModal" [ngStyle]="{'display': showInfoModal ? 'block' : 'none'}">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Información sobre la Página</h5>
            <button type="button" class="btn-close" (click)="closeInfoModal()" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>En esta página, puedes gestionar el desempeño de empleados del sistema. A continuación, se detallan las secciones y funcionalidades disponibles:</p>
            <ul>
              <li><strong>Buscar:</strong> Encuentra empleados por nombre o desempeño utilizando el campo de búsqueda.</li>
              <li><strong>Filtros de Año y Mes:</strong> Selecciona un año y mes específicos para filtrar el rendimiento de los empleados.</li>
              <li><strong>Tabla de Desempeño:</strong> Visualiza una lista detallada de empleados con información sobre su desempeño.</li>
              <li><strong>Registrar Observaciones:</strong> Haz clic en el botón "Registrar observación" para añadir comentarios sobre el rendimiento de un empleado.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Contenedor de búsqueda por nombre o desempeño -->
    <div class="col-md-4 d-flex align-items-center mb-3">
      <label for="searchTerm" class="form-label me-2">Buscar:</label>
      <input
        type="text"
        id="searchTerm"
        [(ngModel)]="searchTerm"
        (input)="filterData()"
        placeholder="Nombre o desempeño"
        class="form-control"
      >
    </div>

    <!-- Selector de Año -->
    <div class="col-md-3 d-flex align-items-center mb-3">
      <label for="yearSelect" class="form-label me-2">Año:</label>
      <select id="yearSelect" [(ngModel)]="selectedYear" (change)="filterData()" class="form-control">
        <option value="">Seleccione Año</option>
        <option *ngFor="let year of availableYears" [value]="year">{{ year }}</option>
      </select>
    </div>

    <!-- Selector de Mes -->
    <div class="col-md-3 d-flex align-items-center mb-3">
      <label for="monthSelect" class="form-label me-2">Mes:</label>
      <select id="monthSelect" [(ngModel)]="selectedMonth" (change)="filterData()" class="form-control">
        <option value="">Seleccione Mes</option>
        <option *ngFor="let month of months; let i = index" [value]="i + 1">{{ month }}</option>
      </select>
    </div>
  </div>

  <!-- Tabla de datos -->
  <table class="data-table table table-striped">
    <thead>
      <tr>
        <th>Año</th>
        <th>Mes</th>
        <th>Empleado</th>
        <th>Observaciones</th>
        <th>Desempeño</th>
      </tr>
    </thead>
    <tbody>
      <!-- Aquí puedes agregar filas de datos -->
    </tbody>
  </table>

  <!-- Botón "Registrar observación" alineado a la derecha -->
  <div class="row mt-3">
    <div class="col text-end">
      <button class="btn btn-primary" (click)="openModal()">Nueva Observacion</button>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal-overlay" *ngIf="showModal" (click)="closeModal()"></div>
  <div class="modal fade" tabindex="-1" [class.show]="showModal" [ngStyle]="{'display': showModal ? 'block' : 'none'}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Llamado de Atencion</h5>
          <button type="button" class="btn-close" (click)="closeModal()" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <app-form-llamado-atencion></app-form-llamado-atencion>
        </div>
      </div>
    </div>
  </div>
</div>


  