<section class="py-5">
  <div class="container p-3 border border-2 rounded shadow-lg">

    <!-- Fila de búsqueda, selectores de mes y año con botones a la derecha -->
    <div class="row mb-3">
      <div class="col-md-12 d-flex align-items-center justify-content-between">
        <div class="row w-100 align-items-center">
          <!-- Campo de búsqueda -->
          <div class="col-md-4 d-flex align-items-center">
            <button class="btn btn-secondary me-2" (click)="volverInventario()">
              <i class="bi bi-arrow-left"></i>
            </button>
            <input type="text" id="searchTerm" [(ngModel)]="searchTerm" placeholder="Buscar" class="form-control" (input)="onSearch()">
          </div>

          <!-- Dropdown de Periodo -->
          <div class="col-md-2 d-flex align-items-center">
            <div class="dropdown w-100">
              <button class="btn btn-secondary dropdown-toggle w-100" type="button" id="dropdownPeriodSelect"
                data-bs-toggle="dropdown" aria-expanded="false">
                Periodo
              </button>
              <ul class="dropdown-menu w-100" aria-labelledby="dropdownPeriodSelect">
                <li *ngFor="let performance of uniquePeriods">
                  <label class="dropdown-item">
                    <input type="checkbox" class="form-check-input me-2"
                      [checked]="selectedPeriod.includes(performance.year + '-' + (performance.month.toString().padStart(2, '0'))) "
                      (change)="togglePeriod(performance.year + '-' + (performance.month.toString().padStart(2, '0')))">
                    {{ performance.year }}-{{ performance.month.toString().padStart(2, '0') }}
                  </label>
                </li>
              </ul>
            </div>
          </div>

          <div class="col"></div>

          <!-- Botones de filtro, limpiar y exportación -->
          <div class="col-md-4 d-flex justify-content-end align-items-center">
            <button class="btn btn-success me-2" (click)="exportToExcel()">
              <i class="fa-solid bi-file-earmark-excel"></i>
            </button>
            <button class="btn btn-danger me-2" (click)="exportToPdf()">
              <i class="fas bi-file-earmark-pdf"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Tabla de Desempeño -->
    <table class="data-table table table-striped">
      <thead>
        <tr>
          <th>Período</th>
          <th>Empleado</th>
          <th>Observaciones</th>
          <th>Desempeño</th>
          <th>Acción</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>

    <!-- Floating button -->
    <button class="floating-btn btn btn-primary" data-bs-target="#newCall" data-bs-toggle="modal">
      <span class="bi-plus-lg"></span>
    </button>

    <!-- Modal del Formulario -->
    <div class="modal fade" id="newCall" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Llamado de Atención</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <app-iep-attention-call [employeeId]="selectedEmployeeId"
            (closeModal)="closeNewCallModal()"></app-iep-attention-call>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
