<section class="py-5">

<div class="container p-3 border border-2 rounded shadow-lg">

  <!-- Botones de exportación alineados a la derecha -->
    <div class="col-md-12 d-flex justify-content-end">
      <button class="btn btn-success me-2" (click)="exportToExcel()">
        <i class="fa-solid fa-file-excel"></i>
      </button>
      <button class="btn btn-danger me-2" (click)="exportToPdf()">
        <i class="fas fa-file-pdf"></i>
      </button>
    </div>

  <div class="row align-items-center">
    <!-- Modal de Información -->
    <div class="modal-overlay" *ngIf="showInfoModal" (click)="closeInfoModal()"></div>
    <div class="modal fade" tabindex="-1" [class.show]="showInfoModal" [ngStyle]="{'display': showInfoModal ? 'block' : 'none'}">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Información sobre la Página</h5>
            <button type="button" class="btn-close" (click)="closeInfoModal()" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>En esta página, puedes gestionar el desempeño de empleados del sistema. A continuación, se detallan las secciones y funcionalidades disponibles:</p>
            <ul>
              <li><strong>Buscar:</strong> Encuentra empleados por nombre o desempeño utilizando el campo de búsqueda.</li>
              <li><strong>Filtros de Año y Mes:</strong> Selecciona un año y mes específicos para filtrar el rendimiento de los empleados.</li>
              <li><strong>Tabla de Desempeño:</strong> Visualiza una lista detallada de empleados con información sobre su desempeño.</li>
              <li><strong>Registrar Observaciones:</strong> Haz clic en el botón "Registrar observación" para añadir comentarios sobre el rendimiento de un empleado.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
<div class="row">
  
</div>
    <!-- Contenedor de búsqueda por nombre o desempeño -->
    <div class="col-md-4 d-flex align-items-center mb-3">
      <label for="searchTerm" class="form-label me-2">Buscar:</label>
      <input
        type="text"
        id="searchTerm"
        [(ngModel)]="searchTerm"
        (input)="filterData()"
        placeholder="Nombre o desempeño"
        class="form-control"
      >
    </div>

    <!-- Selector de Año -->
    <div class="col-md-3 d-flex align-items-center mb-3">
      <label for="yearSelect" class="form-label me-2">Año:</label>
      <select id="yearSelect" [(ngModel)]="selectedYear" (change)="filterData()" class="form-control">
        <option value="">Seleccione Año</option>
        <option *ngFor="let year of availableYears" [value]="year">{{ year }}</option>
      </select>
    </div>

    <!-- Selector de Mes -->
    <div class="col-md-3 d-flex align-items-center mb-3">
      <label for="monthSelect" class="form-label me-2">Mes:</label>
      <select id="monthSelect" [(ngModel)]="selectedMonth" (change)="filterData()" class="form-control">
        <option value="">Seleccione Mes</option>
        <option *ngFor="let month of months; let i = index" [value]="i + 1">{{ month }}</option>
      </select>
    </div>
  </div>

   <!-- Botón "Registrar observación" alineado a la derecha -->
   <div class="row mt-3">
  </div>

  <!-- Tabla de datos -->
  <table class="data-table table table-striped">
    <thead>
      <tr>
        <th>Año</th>
        <th>Mes</th>
        <th>Empleado</th>
        <th>Observaciones</th>
        <th>Desempeño</th>
      </tr>
    </thead>
    <tbody>
      <!-- Aquí puedes agregar filas de datos -->
    </tbody>
  </table>

 

<!-- Modal de Detalles -->
<div class="modal-overlay" *ngIf="showDetailsModal" (click)="closeDetailsModal()"></div>
<div class="modal fade" tabindex="-1" [class.show]="showDetailsModal" [ngStyle]="{'display': showDetailsModal ? 'block' : 'none'}">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Detalles de Llamados de Atención</h5>
        <button type="button" class="btn-close" (click)="closeDetailsModal()" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Fecha</th>
                <th>Tipo</th>
                <th>Observación</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let detail of selectedEmployeeDetails">
                <td>{{detail.dateReal[0]}}-{{detail.dateReal[1]}}-{{detail.dateReal[2]}}</td>
                <td>
                  <span class="tag" [ngClass]="detail.wackeUpTypeEnum.toLowerCase()">
                    {{detail.wackeUpTypeEnum}}
                  </span>
                </td>
                <td>{{detail.observation}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="selectedEmployeeDetails.length === 0" class="text-center p-3">
          No hay llamados de atención para mostrar en este período.
        </div>
      </div>
    </div>
  </div>
</div>

  <!-- Modal -->
  <div class="modal-overlay" *ngIf="showModal" (click)="closeModal()"></div>
  <div class="modal fade" tabindex="-1" [class.show]="showModal" [ngStyle]="{'display': showModal ? 'block' : 'none'}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Llamado de Atencion</h5>
          <button type="button" class="btn-close" (click)="closeModal()" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <app-iep-attention-call></app-iep-attention-call>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Boton + Flotante -->
<button class="floating-btn btn btn-primary" (click)="openModal()">
  <span class="bi-plus-lg"></span>
</button>
</section>