<div class="container mt-5 col-md-6">
    <form #form="ngForm" (ngSubmit)="onSubmit(form)" class="form-container border rounded border shadow p-4">
        <div class="bg-light">
            <h2 class="text-center mb-5 ">FORMULARIO NUEVO EMPLEADO</h2>
            <hr class="my-4">
        </div>
      
 

 <div class="bg-light rounded mb-5 pb-3 pt-3 ps-2" >
<!-- Datos personales -->
<p class="text-start mb-3 ">Datos personales:</p>
<hr>
<div class="form-group row mb-3">
    <div class="col-md-6">
        <div class="row">
            <label for="nombre" class="col-form-label col-md-3 text-end">Nombre:</label>
            <div class="col-md-9">
                <input 
                type="text" 
                class="form-control" 
                id="nombre" 
                name="nombre" 
                [(ngModel)]="nombre" 
                #nombreModel="ngModel"
                required 
                pattern="^[A-Za-zÀ-ÿ\s]+$"
                [ngClass]="{
                    'is-invalid': nombreModel.invalid && nombreModel.touched, 
                    'is-valid': nombreModel.valid && nombreModel.touched
                }"
            >
            <div *ngIf="nombreModel.invalid && nombreModel.touched" class="invalid-feedback">
                "La entrada no es válida. Asegúrate de usar solo letras."
             </div>
            </div>
        </div>
    </div>

       <div class="col-md-6">
              <div class="row">
                  <label for="apellido" class="col-form-label col-md-3 text-end">Apellido:</label>
                  <div class="col-md-9">
                      <input type="text" class="form-control" id="apellido" name="apellido" 
                      name="apellido" 
                      [(ngModel)]="apellido" 
                      #apellidoModel="ngModel"
                      required 
                      pattern="^[A-Za-zÀ-ÿ\s]+$"
                      [ngClass]="{
                          'is-invalid': apellidoModel.invalid && apellidoModel.touched, 
                          'is-valid': apellidoModel.valid && apellidoModel.touched
                      }"
                  >
                  <div *ngIf="apellidoModel.invalid && apellidoModel.touched" class="invalid-feedback">
                      "La entrada no es válida. Asegúrate de usar solo letras."
                   </div>
                   </div>
              </div>
         </div>
</div>


<div class="form-group row mb-3">
    <div class="col-md-6">
        <div class="row">
            <label for="cuil" class="col-form-label col-md-3 text-end">CUIL:</label>
            <div class="form-group col-md-9">  
                <input type="text" class="form-control" id="cuil" name="cuil" [(ngModel)]="cuil" 
                #cuilModel="ngModel"
                required 
                pattern="^([0-9]{2}-)?[0-9]{8}-[0-9]$"
                [ngClass]="{
                    'is-invalid': cuilModel.invalid && cuilModel.touched, 
                    'is-valid': cuilModel.valid && cuilModel.touched
                }"
            >
            <div *ngIf="cuilModel.invalid && cuilModel.touched" class="invalid-feedback">
                "La entrada no es válida. Asegúrate que cumpla con el formato estipulado."
             </div>
            </div>
        </div>
    </div>

       <div class="col-md-6">
              <div class="row">
                  <label for="dni" class="col-form-label col-md-3 text-end">DNI:</label>
                  <div class="col-md-9">
                    <input type="text" class="form-control" id="dni" name="dni"
                    [(ngModel)]="dni"
                     #dniModel="ngModel"
                    required 
                    pattern="^[1-9]\d*$"
                    [ngClass]="{
                        'is-invalid': dniModel.invalid && dniModel.touched, 
                        'is-valid': dniModel.valid && dniModel.touched
                    }"
                >
                <div *ngIf="dniModel.invalid && dniModel.touched" class="invalid-feedback">
                    "La entrada no es válida. Asegúrate de usar solo numeros."
                 </div>
                </div>
                   </div>
              </div>
         </div>
    </div>

<!-- contacto  -->
<div class="bg-light rounded ps-2 " >
    <p class="text-start mb-3 ">Datos de contacto:</p>
    <hr>

<div class="form-group row mb-3 pb-2 ">
    <div class="col-md-6">
        <div class="row">
            <label for="telefono" class="col-form-label col-md-3 text-end">Teléfono:</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="telefono" name="telefono"
                [(ngModel)]="telefono"
                #telefonoModel="ngModel"
               required 
              pattern='^(0?15)?[1-9]\d{8}$'
               [ngClass]="{
                   'is-invalid': telefonoModel.invalid && telefonoModel.touched, 
                   'is-valid': telefonoModel.valid && telefonoModel.touched
               }"
           >
           <div *ngIf="telefonoModel.invalid && telefonoModel.touched" class="invalid-feedback">
               "La entrada no es válida. , Asegúrate de no estar agregando 0351 o +54"
             
              
            </div>
            </div>
        </div>
    </div>


       <div class="col-md-6">
              <div class="row">
                  <label for="mail" class="col-form-label col-md-3 text-end">E-mail:</label>
                  <div class="col-md-9">
                      <input type="email" class="form-control" id="mail" name="mail"
                      [(ngModel)]="mail"
                      #mailModel="ngModel"
                      required 
                      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                     [ngClass]="{
                         'is-invalid': mailModel.invalid && mailModel.touched, 
                         'is-valid': mailModel.valid && mailModel.touched
                     }"
                 >
                 <div *ngIf="mailModel.invalid && mailModel.touched" class="invalid-feedback">
                     "La entrada no es válida ,Asegúrate de usar el formato de e-mail"
                  </div>
                   </div>
              </div>
        </div>
</div>
</div>


  <!-- Dirección -->
   
    
<div class="bg-light rounded mb-3 ps-2">
    <p class="text-start mb-3 ">Datos de direccion:</p>
    <hr>
    <div class="form-group row mb-3 ">
      
        <div class="col-md-6">
            <div class="row">
                <label for="provincia" class="col-form-label col-md-3">Provincia:</label>
                <div class="col-md-9">
                    <select id="provincia" name="provincia" class="form-control"
                     [(ngModel)]="provinciaSelect"
                     (change)="loadLocalidades()" >
                        <option disabled selected value="opcion1">Seleccionar provincia</option>
                        @for (p of provincias; track $index) {
                            <option   [ngValue]="p" >{{p.nombre}}</option>

                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <label for="localidad" class="col-form-label col-md-3">Localidad:</label>
                <div class="col-md-9">
                    <select id="localidad" name="localidad" class="form-control" 
                    [(ngModel)]="localidadSelect" >
                        <option disabled selected value="opcion1">Seleccionar localidad</option>
                        @for (l of provinciaSelect?.ciudades; track $index) {

                            <option  selected value="opcion1">{{l.nombre}}</option>
                        }
                    </select>
                </div>
            </div>
        </div>
  </div>

  <div class="form-group row mb-3  ">

    <div class="col-md-6">
        <div class="row">
            <label for="calle" class="col-form-label col-md-3">Calle:</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="calle" name="calle" 
                [(ngModel)]="calle"
                #calleModel="ngModel"
                required 
                pattern="^[A-Za-z0-9\s]+$"
               [ngClass]="{
                   'is-invalid': calleModel.invalid && calleModel.touched, 
                   'is-valid': calleModel.valid && calleModel.touched
               }"
           >
           <div *ngIf="calleModel.invalid && calleModel.touched" class="invalid-feedback">
          La entrada no es válida. Asegúrate de no usar caracteres especiales. <br>
            <small>EJ: (+, -, /, "", |)</small>         </div>
            </div>
        </div>
    </div>


    <div class="col-md-6">
        <div class="row">
            <label for="numeroCalle" class="col-form-label col-md-3">Número:</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="numeroCalle" name="numeroCalle" [(ngModel)]="numeroCalle"
                #numeroCalleModel="ngModel"
                required 
                pattern="^(0|[1-9]\d*)$"
               [ngClass]="{
                   'is-invalid': numeroCalleModel.invalid && numeroCalleModel.touched, 
                   'is-valid': numeroCalleModel.valid && numeroCalleModel.touched
               }">

                <div *ngIf="numeroCalleModel.invalid && numeroCalleModel.touched" class="invalid-feedback">
                     La entrada no es válida. Asegúrate de usar solo numeros enteros positivos
                 </div>
            </div>
        </div>
    </div>
</div>

<div class="form-group row mb-3  ">

    <div class="col-md-6">
        <div class="row">
            <label for="piso" class="col-form-label col-md-3">Piso:</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="piso" name="piso"
                [(ngModel)]="piso"
                #pisoModel="ngModel"
                required 
                pattern="^-?[0-9]\d*$"
               [ngClass]="{
                   'is-invalid': pisoModel.invalid && pisoModel.touched, 
                   'is-valid': pisoModel.valid && pisoModel.touched
               }"
           >
           <div *ngIf="pisoModel.invalid && pisoModel.touched" class="invalid-feedback">
          La entrada no es válida. Asegúrate de usar solo numeros enteros</div>
            </div>
         </div>
    </div>


        <div class="col-md-6">
            <div class="row">
                <label for="dpto" class="col-form-label col-md-3">Departamento:</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="dpto" name="dpto"  [(ngModel)]="dpto"
                    #dptoModel="ngModel"
                     
                    pattern="^[a-zA-Z0-9]+$"
                   [ngClass]="{
                       'is-invalid': dptoModel.invalid && dptoModel.touched, 
                       'is-valid': dptoModel.valid && dptoModel.touched
                   }">

                    <div *ngIf="dptoModel.invalid && dptoModel.touched" class="invalid-feedback">
                         La entrada no es válida. Asegúrate de usar no usar caracteres especiales
                     </div>
                </div>
            </div>
        </div>
    </div>
 

    <div class="form-group row mb-3  ">
     <div class="col-md-6">
           <div class="row">
             <label for="codigo-postal" class="col-form-label col-md-4">Código Postal:</label>
                <div class="col-md-8">
                <input type="text" class="form-control" id="codigo-postal" name="codigo-postal" [(ngModel)]="codigoPostal"
                #codigoPostaModel="ngModel"
                required 
                pattern="^(0|[1-9]\d*)$"
               [ngClass]="{
                   'is-invalid': codigoPostaModel.invalid && codigoPostaModel.touched, 
                   'is-valid': codigoPostaModel.valid && codigoPostaModel.touched
               }">

                <div *ngIf="codigoPostaModel.invalid && codigoPostaModel.touched" class="invalid-feedback">
                     La entrada no es válida. Asegúrate de usar solo numeros enteros positivos
                 </div>
                </div>
           </div>
     </div>
    </div>
</div>





  


    
     <div class="bg-light rounded mb-5 pb-2 ps-2 pt-2" >  
        <p class="text-start mb-3 ">Datos del contrato:</p>
        <hr>



     <div class="form-group row mb-3">

      



        <div class="col-md-6 mb-3">
            <div class="row">
             <!-- Empleado tercerizado -->
  
                
                    <label class="col-form-label col-md-4" for="tercerizado">Tercerizado:</label>
                    <div class="col-md-8" >
                    
                    <i
                    id="tercerizado" name="tercerizado" 
                    (click)="changeTerceorized()"
                    [class]="terciorizedEmployee ? 'fas fa-check text-success' : 'fas fa-times text-danger'"
                    style="font-size: 2.0em; cursor: pointer; margin-left: 10px;"
                  ></i>
                  </div>
                 
            </div>
         </div>
         @if (!terciorizedEmployee) {
            <!-- Salario -->
            
            <div class="col-md-6 mb-3">
                <div class="row">
                    
               <label class="col-form-label col-md-3" for="salario">Salario:</label>
               <div class="col-md-9">
                <input type="number" 
                       class="form-control" 
                       id="salario" 
                       name="salario" 
                       [(ngModel)]="salario" 
                       #salarioModel="ngModel" 
                       required 
                       pattern="^[1-9]\d*$"
                       [ngClass]="{
                           'is-invalid': salarioModel.invalid && salarioModel.touched, 
                           'is-valid': salarioModel.valid && salarioModel.touched
                       }">
                
                <div *ngIf="salarioModel.invalid && salarioModel.touched" class="invalid-feedback">
                    La entrada no es válida. Asegúrate de introducir un número entero positivo.
                </div>
            </div>
            </div>
        </div>
              }
              @else {

                <div class="col-md-6 mb-3">
                    <div class="row">
                        
                   <label class="col-form-label col-md-3" for="proveedores">Proveedores:</label>
                   <div class="col-md-9">
                  <!-- Proveedores de servicio tercerizado -->
                           <select id="proveedores" name="proveedores" class="form-control" [(ngModel)]="selectedSupplier">
                            <option disabled selected value="opcion1">Seleccionar proveedor</option>
                  
                           @for (x of suppliers; track $index) {
                             <option [ngValue]="x">  {{x.name}} </option>
                             }
                            </select>
                  </div>
                    
                </div>  
                </div>
              }
                 <!-- Cargo -->
              <div class="col-md-6 mb-3">
                <div class="row">
                    <label for="cargo" class="col-form-label col-md-4">Cargo:</label>
                       <div class="col-md-8">
                        <select id="cargo" name="cargo" class="form-control" [(ngModel)] ="cargoSelected" >
                            <option disabled selected value="opcion1">Seleccionar Cargo</option>
                            @for (c of cargos; track $index) {
                                <option  selected [ngValue]="c">{{c.charge}}</option>
    
    
                            }
                           
                        </select>        
                       </div>
                  </div>
             </div>
                 <!-- fecha inicio contrato -->
              <div class="col-md-6 ">
                <div class="row">
                    <label for="start-time-contract" class="col-form-label col-md-3">Inicio:</label>
                       <div class="col-md-6">
                        <input type="date" id="startTimeContract" id="startTimeContract"
                        class="form-control" 
                        name="startTimeContract" 
                        [(ngModel)]="startTimeContract" 
                        #startTimeContractModel="ngModel" 
                        required
                        (ngModelChange)="validateDate()"
                        [ngClass]="{
                            'is-invalid': startTimeContractModel.invalid && startTimeContractModel.touched || invalidDate, 
                            'is-valid': startTimeContractModel.valid && startTimeContractModel.touched && !invalidDate
                        }">
                        <div *ngIf="startTimeContractModel.invalid && startTimeContractModel.touched" class="invalid-feedback">
                            Por favor, selecciona una fecha válida.
                        </div>      
                       </div>
                  </div>
             </div>

     </div>
       
    </div>


     

     


         


            <div class="bg-light rounded mb-5 pb-3 ps-2" > 
                
                <p class="text-start mb-3 ">Dias laborales:</p>
                <hr>
            <div class="form-group d-flex justify-content-center flex-wrap gap-3 px-3 ">
                
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="lunes" name="lunes" [(ngModel)]="lunes">
                    <label class="form-check-label" for="lunes">Lunes</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="martes" name="martes" [(ngModel)]="martes">
                    <label class="form-check-label" for="martes">Martes</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="miercoles" name="miercoles" [(ngModel)]="miercoles">
                    <label class="form-check-label" for="miercoles">Miércoles</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="jueves" name="jueves" [(ngModel)]="jueves">
                    <label class="form-check-label" for="jueves">Jueves</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="viernes" name="viernes" [(ngModel)]="viernes">
                    <label class="form-check-label" for="viernes">Viernes</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="sabado" name="sabado" [(ngModel)]="sabado">
                    <label class="form-check-label" for="sabado">Sábado</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="domingo" name="domingo" [(ngModel)]="domingo">
                    <label class="form-check-label" for="domingo">Domingo</label>
                </div>
            </div>
            </div>

        <!-- Horarios -->
        <div class="bg-light rounded mb-5 pb-3 ps-2" > 
            <p class="text-start mb-3 ">Horarios:</p>
            <hr>
        <div class="form-group row mb-3 pt-3">
            <div class="col-md-6">
                <div class="row">
            <label for="hora-entrada" class="col-md-3"> <i class="fas fa-clock"></i> entrada:</label>
            <div class=" col-md-5">
                <input type="time" class="form-control" id="hora-entrada" name="hora-entrada"  [(ngModel)]="horaEntrada" 
                #horaEntradaModel="ngModel" 
                required
                [ngClass]="{
                    'is-invalid': horaEntradaModel.invalid && horaEntradaModel.touched, 
                    'is-valid': horaEntradaModel.valid && horaEntradaModel.touched
                }">
                <div *ngIf="horaEntradaModel.invalid && horaEntradaModel.touched" class="invalid-feedback">
                    Por favor, selecciona una hora válida.
                </div>

            </div>
                 </div>
             </div>

             <div class="col-md-6">
                <div class="row">
                    
                        
                        <label for="hora-salida" class="col-md-4 text-end">
                            <i class="fas fa-clock"></i> salida:</label>
                    
                    
                    <div class="col-md-5">
                        <input 
                            type="time" 
                            class="form-control" 
                            id="hora-salida" 
                            name="hora-salida" 
                            [(ngModel)]="horaSalida" 
                            #horaSalidaModel="ngModel" 
                            required
                            [ngClass]="{
                                'is-invalid': horaSalidaModel.invalid && horaSalidaModel.touched, 
                                'is-valid': horaSalidaModel.valid && horaSalidaModel.touched
                            }">
                            <div *ngIf="horaSalidaModel.invalid && horaSalidaModel.touched" class="invalid-feedback">
                                Por favor, selecciona una hora válida.
                            </div>
                    </div>
                </div>
                
            </div>
   
        
        </div>
        </div>

        <!-- Botones -->
         <div class="row">
            <div class="col-md-8"></div>
            <div class="col-md-2 d-flex justify-content-start">
                <button type="button" class="btn btn-secondary" (click)="goBack()">Volver</button>
             </div>
           <div class="col-md-2  d-flex justify-content-end">
            <button [disabled]="!form.valid" type="submit" class="btn btn-primary">Guardar</button>
           </div>
         </div>


        
      <!-- Modal para mostrar mensajes de éxito o error -->
  <!-- Modal para mostrar mensajes de éxito o error -->
<div class="modal" *ngIf="showModal" (click)="resetForm(form)">
    <div class="modal-content" [ngClass]="{'border-success': success, 'border-error': !success}" (click)="$event.stopPropagation()">
      <div class="modal-header">
        <h5 class="modal-title">{{ success ? 'Éxito' : 'Error' }}</h5>
        <button type="button" class="close" (click)="resetForm(form)">&times;</button>
      </div>
      <div class="modal-body">
        {{ success ? successMessage : errorMessage }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="resetForm(form)">Cerrar</button>
      </div>
    </div>
  </div>

    </form>
</div>