<section class="py-5">

    <div class="container p-3 border border-2 rounded shadow-lg">
        <!-- Modal de Información -->
        <div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="infoModalLabel">
                            Información sobre la Página
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>
                            En esta página, puedes gestionar el listado de empleados del sistema. A continuación, se
                            detallan las secciones y funcionalidades disponibles:
                        </p>
                        <ul>
                            <li><strong>Botones de navegación:</strong> Cambia entre las secciones <em>Información</em>,
                                <em>Asistencias</em> y <em>Desempeño</em> para acceder a diferentes datos relacionados
                                con
                                los empleados.
                            </li>
                            <li><strong>Filtros de fecha:</strong> En la sección de <em>Desempeño</em>, puedes
                                seleccionar
                                un rango de fechas para filtrar el rendimiento de los empleados.</li>
                            <li><strong>Tabla de empleados:</strong> Muestra una lista de empleados con columnas para
                                <em>Apellido y Nombre</em>, <em>Documento</em>, <em>Posición</em>, <em>Salario</em>, y
                                <em>Acciones</em>.
                            </li>
                            <li><strong>Detalles del empleado:</strong> Haz clic en un empleado para ver más información
                                en
                                un modal emergente.</li>
                            <li><strong>Registrar observaciones:</strong> En la sección de <em>Desempeño</em>, puedes
                                añadir
                                observaciones sobre el rendimiento de los empleados.</li>
                            <li><strong>Exportar datos:</strong> Descarga la lista de empleados en formatos PDF y Excel
                                desde los botones disponibles en la parte superior de la lista.</li>
                        </ul>
                        <p>
                            Asegúrate de utilizar correctamente las funcionalidades para gestionar eficazmente la
                            información y el rendimiento de los empleados.
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            Cerrar
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row filtros" *ngIf="ventana === 'Informacion'" style="align-items: center;">
            <!-- Campo de búsqueda y selector de cargos -->
            <div class="col-md-2">
                <div class="row">
                    <button class="btn btn-secondary" style="margin-left: 7px;" (click)="loadAsistencias()">Ver
                        asistencias</button>
                </div>
            </div>
            <div class="col-md-3">
                <input type="text" id="inputFiltroNombre" class="form-control m-2" placeholder="Buscar"
                    (input)="onSearchFilterChange($event)" />
            </div>
            <!--             <div class="col-md-3">
                <select class="form-select m-2" id="comboFiltroCargo" (change)="onPositionFilterChange($event)">
                    <option value="">Todos los cargos</option>
                </select>
            </div> -->

            <div class="col-md-3">
                <div class="dropdown w-100 m-2">
                    <button class="btn btn-secondary dropdown-toggle w-100" type="button" id="dropdownCargo"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Cargos
                        @if (selectedPositions.length>0) {
                        ({{selectedPositions.length}})
                        }
                    </button>
                    <ul class="dropdown-menu w-100" aria-labelledby="dropdownCargo">
                        <li *ngFor="let position of uniquePositions">
                            <label class="dropdown-item">
                                <input type="checkbox" class="form-check-input me-2" [value]="position"
                                    [checked]="selectedPositions.includes(position)"
                                    (change)="onPositionFilterChange($event, position)">
                                {{ position }}
                            </label>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col"></div>

            <!-- Botones de exportación alineados a la derecha del selector -->
            <div class="col-md-2 d-flex align-items-center justify-content-end">
                <button class="btn btn-primary me-2" (click)="toggleFilters()">
                    <i class="bi bi-funnel-fill"></i>
                </button>
                <button class="btn btn-secondary me-2" (click)="cleanColumnFilters()">
                    <i class="bi bi-trash"></i>
                </button>
                <button class="btn btn-success me-2" (click)="exportToExcel()">
                    <i class="fa-solid bi-file-earmark-excel"></i>
                </button>
                <button class="btn btn-danger" (click)="exportToPdf()">
                    <i class="fas bi-file-earmark-pdf"></i>
                </button>
            </div>
        </div>

        <!-- Filtros para Desempeño y Asistencias -->
        <div class="row filtros mb-3" *ngIf="ventana === 'Desempeño' || ventana === 'Asistencias'">
            <div class="col-2" style="margin-left: 7px;">
                <div class="row">
                    <button class="btn btn-secondary" (click)="loadEmpleados()">Ver info gral.</button>
                </div>
            </div>
            <!-- Contenedor de búsqueda por nombre del empleado -->
            <div class="col-2">
                <input type="text" id="searchTerm" placeholder="Nombre" class="form-control"
                    [(ngModel)]="nombreFiltrado" (ngModelChange)="filterByDate()">
            </div>
            <!-- Filtro de estado  -->
            <div class="col-2">
                <select class="form-select" id="" [(ngModel)]="estadoFiltrado" (ngModelChange)="filterByDate()">
                    <option value="" selected>Estado</option>
                    <option value="PRESENTE">PRESENTE</option>
                    <option value="TARDE">TARDE</option>
                    <option value="AUSENTE">AUSENTE</option>
                    <option value="JUSTIFICADO">JUSTIFICADO</option>
                </select>
            </div>
            <!-- Filtros por fecha -->
            <div class="col-2">
                <input type="date" id="startDate" class="form-control" [(ngModel)]="startDate"
                    (change)="onStartDateChange()" />
            </div>
            <div class="col-2">
                <input type="date" id="endDate" class="form-control" [(ngModel)]="endDate"
                    (change)="onEndDateChange()" />
            </div>

            <!-- Botones de exportación en Asistencias y Desempeño -->
            <div class="col text-end">
                <button class="btn btn-secondary me-2" (click)="limpiarFiltro()">
                    <i class="bi bi-trash"></i>
                </button>
                <button class="btn btn-success ms-2" (click)="exportToExcel()">
                    <i class="fa-solid bi-file-earmark-excel"></i>
                </button>
                <button class="btn btn-danger ms-2" (click)="exportToPdf()">
                    <i class="fas bi-file-earmark-pdf"></i>
                </button>
            </div>



        </div>


        <!-- Filtros para todas las columnas en la pestaña información -->
        <div class="row filtros mb-2" *ngIf="ventana === 'Informacion' && filtersVisible">
            <div class="col-md-4">
                <input type="text" placeholder="Apellido y Nombre" (input)="applyColumnFilter($event, 'apellidoNombre')"
                    class="form-control" />
            </div>
            <div class="col-md-4">
                <input type="text" placeholder="Documento" (input)="applyColumnFilter($event, 'documento')"
                    class="form-control text-end" />
            </div>
            <div class="col-md-2">
                <input type="text" placeholder="Salario Mínimo" (input)="applyAmountFilter('min', $event)"
                    class="form-control text-end" />
            </div>

            <div class="col-md-2">
                <input type="text" placeholder="Salario Máximo" (input)="applyAmountFilter('max', $event)"
                    class="form-control text-end" />
            </div>
        </div>

        <!-- Tabla de empleados con cabecera de columnas -->
        <table id="empleadosTable" class="table table-striped table-bordered table-hover">
            <thead class="thead-light">
                <tr>
                    <th>Apellido y Nombre</th>
                    <th>Documento</th>
                    <th>Posición</th>
                    <th>Salario</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

        <!-- Modal personalizado para mostrar detalles de un empleado seleccionado -->
        <div class="modal-overlay" [class.show]="showModal" (click)="closeModal()">
            <div class="modal-container" (click)="$event.stopPropagation()">
                <!-- Encabezado del modal -->
                <div class="modal-header">
                    <h5>Detalles del Empleado</h5>
                    <button class="close-button" (click)="closeModal()">×</button>
                </div>
                <!-- Cuerpo del modal con el contenido dinámico del empleado -->
                <div class="modal-body" [innerHTML]="modalContent">
                </div>
                <!-- Pie del modal con botón para cerrar -->
                <div class="modal-footer">
                    <button class="btn btn-secondary" (click)="closeModal()">Cerrar</button>
                </div>
            </div>
        </div>

        <!-- Opciones de acción según la ventana seleccionada -->
        <div class="opciones">
            <!-- Opciones cuando la ventana es "Desempeño" -->
            @if (ventana == "Desempeño") {
            <div class="row">
                <div class="col-2">
                    <div class="row">
                        <button class="btn btn-primary" (click)="navigateToWakeUpCallForm()">Registrar
                            observacion</button>
                    </div>
                </div>
            </div>
            }
        </div>

        <!-- Modal de confirmación de eliminación -->
        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Confirmar eliminación</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        ¿Está seguro de que desea eliminar este empleado?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                            (click)="confirmDelete()">Eliminar</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>