
<!-- Modal para Categorias -->
<div class="modal fade" id="categoriaModal" role="dialog" aria-labelledby="categoriaModal" style="width: 100%;" aria-hidden="">
  <div class="modal-dialog" style="width: 100%;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Categorias</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="" #modalCategoryForm="ngForm">
          <div class="row">
            <div class="col-12">
              <div class="input-group mb-3">
                <label for="category" class="col-form-label">Categoría</label>
                <select class="form-select" id="categoryModal" style="border-radius: 0.25rem;"
                #categoryOfModal="ngModel"  [(ngModel)]="categoryOfModal"  name="categoryOfModal" 
                  (ngModelChange)="setCategoryDescription()" required>
                  @if(categories$|async) {
                    @for (c of categories; track $index) {
                      <option value="{{ c.id }}">{{ c.category }}</option>
                    }
                  }@else {
                    @if(requestInProgress){
                        <option class="loading" 
                        value="0" selected disabled>Cargando categorías...</option>
                    }@else {
                      @if(categoriesError){
                       <option class="text-danger" disabled>Error al cargar categorías</option>
                      }@else {
                        <option class="text-danger" selected disabled>No hay categorías disponibles</option>
                      }
                    }
                  }
                </select>
              </div>
            </div>
          </div>

          <div class="mb-3 mt-1 form-check  ml-2">
            <input type="checkbox" name="reusable" class="form-check-input" id="exampleCheck1" >
            <label class="form-check-label" for="exampleCheck1">Nuevo</label>
          </div>

          <div class="row">
            <div class="input-group form-group">
              <label for="inputName" class="col-form-label" style="margin-right: 10px;">Descripción</label>
              <input type="text" class="form-control" #newCategory="ngModel" [(ngModel)]="newCategory" name="newCategory"
                minlength="3" required>
            </div>
          </div>
          <div class="modal-footer">
            <div class="">
              <button type="submit" [disabled]="modalCategoryForm.invalid"
              class="btn btn-primary" data-bs-dismiss="">Actualizar</button>
            </div>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>



<!-- Modal para proveedores -->
<div class="modal fade" id="supplierModal" role="dialog" aria-labelledby="supplierModal" style="width: 100%;" aria-hidden="">
  <div class="modal-dialog" style="width: 100%;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Proveedores</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
      </div>
    </div>
  </div>
</div>








<title>Formulario de Registro de Producto</title>
<div class="container mt-5">
<div class="row form">
  <form class="custom-form" #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
    <div class="title-section" style="margin-bottom: 30px;">
      <h2>Registro de nuevo Producto</h2>
    </div>
    <div class="mb-3 row">
      <div class="col-6">
        <div class="input-group form-group">
          <label for="inputName" class="col-form-label" style="margin-right: 10px;">Nombre</label>
          <input type="text" class="form-control" id="name" name="name" [(ngModel)]="dto.name" #name="ngModel"
            minlength="3" required>
        </div>
        <div class="error-container">
          @if(name.invalid && name.touched) {
            @if(name.errors?.['minlength']) {
            <div class="text-danger">El nombre del producto debe tener al menos 3 caracteres</div>
            } @else {
            <div class="text-danger">Este campo es requerido</div>
            }
          }
        </div>
      </div>
      <div class="col-6">
        <div class="input-group form-group">
          <label for="categories" class="col-form-label">Categoría</label>
          <select class="form-select" id="categories" style="border-radius: 0.25rem;"
          name="category" [(ngModel)]="dto.category_id" #category="ngModel" min="1"
            required>
            @if(categories$|async) {
              @for (c of categories; track $index) {
                <option value="{{ c.id }}">{{ c.category }}</option>
              }
            }@else {
              @if(requestInProgress){
                  <option class="loading" 
                  value="0" selected disabled>Cargando categorías...</option>
              }@else {
                @if(categoriesError){
                 <option class="text-danger" disabled>Error al cargar categorías</option>
                }@else {
                  <option class="text-danger" selected disabled>No hay categorías disponibles</option>
                }
              }
            }
          </select>
          <button routerLink="modal-select" routerLinkActive="router-link-active"
          class="btn btn-outline-secondary" type="button" id="button-addon2" data-bs-toggle="modal" data-bs-target="#categoriaModal"
          (click)="openModal()">+</button>
        </div>
        <div class="error-container">
          @if(category.invalid && category.touched) {
            <div class="text-danger">Este campo es requerido</div>
          }
        </div>
      </div>
    </div>
    <div class="mb-3">
      <div class="form-floating mb-3 ">
        <textarea class="form-control" 
        placeholder="" id="floatingTextarea" style="height: 150px"  
        [(ngModel)]="dto.description" name="descr" #descr="ngModel" minlength="5" required></textarea>
        <label for="floatingTextarea">Descripción</label>
        <div class="error-container">
          @if(descr.invalid && descr.touched) {
            @if(descr.errors?.['minlength']) {
              <div class="text-danger">La descripción del producto debe tener al menos 5 caracteres</div>
            }@else {
              <div class="text-danger">Este campo es requerido</div>
            }
          }
        </div>
      </div>
    </div>
    <div class="mb-5">
      <div class="input-group form-group">
        <label for="inputPrice" class="col-form-label">Precio Unitario</label>
        <input   type="number" class="form-control text-end" 
        aria-label="Amount" #unit="ngModel" [(ngModel)]="dto.unit_price"
        name="unit" min="0">
        <span class="input-group-text">$</span>
      </div>
      <div class="error-container">
        @if(unit.invalid && unit.touched) {
          <div class="text-danger">El precio unitario debe ser igual o mayor a 0</div>
        }
      </div>
    </div>
    <div class="mb-2 row">
      <div class="col-6">
        <div class="form-group input-group">
          <label for="state" class="col-form-label">Estado</label>
        <select (click)="myForm.invalid" class="form-select"  id="" name="state" #state="ngModel" 
        [(ngModel)]="dto.state_id" [value]="0" required>
          <option value="1">Disponible</option>
          <option value="2">En uso</option>
          <option value="3">En mantenimiento</option>
        </select>
        </div>
        <div class="error-container">
          @if(state.invalid && state.touched) {
            <div class="text-danger">Este campo es requerido</div>
          }
        </div>
      </div>
      <div class="col-6">
        <div class="input-group mb-3 form-group">
        <label for="supplier" class="col-form-label">Proveedor</label>
          <select class="form-select" id="supplier" name="supplier" style="border-radius: 0.25rem;"
          [(ngModel)]="dto.supplier_id" #supplier="ngModel" min="1" required>
            @if(providers$|async) {
              @for (p of providers; track $index) {
                <option value="{{ p.id }}">{{ p.name }}</option>
              }
            }@else {
              @if(providersError){
                <option class="text-danger" selected disabled>Error al cargar proveedores</option>
              }@else {
                <option class="loading" value="0" selected disabled>Cargando proveedores...</option>
              }
            }
          </select>
          <button class="btn btn-outline-secondary" type="button" id="button-addon2" data-bs-toggle="modal" data-bs-target="#supplierModal"
          >+</button>
        </div>
        <div class="error-container">
          @if(supplier.invalid && supplier.touched) {
            <div class="text-danger">Este campo es requerido</div>
          }
        </div>
      </div>
    </div>
    <div class="mb-4 form-check col-4 ml-2">
      <input type="checkbox" name="reusable" class="form-check-input" id="exampleCheck1" [(ngModel)]="dto.reusable">
      <label class="form-check-label" for="exampleCheck1">Reutilizable</label>
    </div>
    
    <div class="mb-3 row">
      <div class="col-6">
        <div class="input-group form-group">
          <label for="inputStock" class="col-form-label">Stock Inicial</label>
          <input type="number" name="stock" class="form-control text-end" 
          [(ngModel)]="dto.amount" 
          id="inputStock" #stock="ngModel"  min="1" required>
        
      </div>
      <div class="error-container">
        @if(stock.invalid && stock.touched) {
          @if (stock.errors?.['min']) {
            <div class="text-danger">La cantidad de stock debe ser mayor a 0</div>
          }@else {
            <div class="text-danger">Este campo es requerido</div>
          }
        }
      </div>
      </div>
     
    <div class="col-6">
      <div class="form-group n input-group" >
        <label for="inputMinStock" class="col-form-label">Stock insuficiente</label>
        <input #min="ngModel" min="1" type="number" name="min" 
        [(ngModel)]="dto.min_amount_warning" class="form-control text-end" 
        id="inputMinStock">
      </div>
      <div class="error-container">
      </div>
    </div>
    </div>

    <div class="mb-3 mt-4 row justify-content-end">
      <div class="col-auto">
        <button type="button" style="width: 100%;" class="btn btn-secondary" (click)="goBack()">Volver</button>
      </div>
      <div class="col-auto">
        <button [disabled]="!myForm.valid" type="submit" class="btn btn-primary" style="width: 100%;">Registrar</button>
      </div>
    </div>

    
  </form>
</div>
</div>