<div class="py-5">
  <div class="container p-3 border border-2 rounded shadow-lg">
    <div class="">
      <!-- Fila de opciones (Filtro, Exportar, Nuevo) -->
      <div class="d-flex justify-content-between align-items-center mb-3">
        <!-- Filtro de búsqueda a la izquierda -->
        <div class="col-md-4">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              placeholder="Buscar..."
              [(ngModel)]="searchTerm"
              (input)="filterData($event)"
            />
          </div>
        </div>

        <!-- Botones a la derecha -->
        <div>
          <button class="btn btn-secondary me-2" (click)="resetFilters()">
            <i class="bi bi-trash"></i>
          </button>
          <button class="btn btn-success me-2" (click)="exportToExcel()">
            <i class="fa-solid bi-file-earmark-excel"></i>
          </button>
          <button class="btn btn-danger me-2" (click)="exportToPdf()">
            <i class="fas bi-file-earmark-pdf"></i>
          </button>
        </div>
      </div>

      <!-- Tabla de cargos -->
      <table
        id="cargosTable"
        class="table table-striped border border-4 rounded table-hover"
      >
        <thead>
          <tr>
            <th>Cargo</th>
            <th>Descripción</th>
            <th>Acciones</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>

  <!-- Modal de Información -->
  <div
    class="modal fade"
    id="infoModal"
    tabindex="-1"
    aria-labelledby="infoModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Información sobre la Página</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <p>
            En esta página, puedes gestionar el desempeño de empleados del
            sistema. A continuación, se detallan las secciones y funcionalidades
            disponibles:
          </p>
          <ul>
            <li>
              <strong>Agregar Cargo:</strong> Introduce los detalles del nuevo
              cargo en el formulario para añadirlo al sistema.
            </li>
            <li>
              <strong>Modificar Cargo:</strong> Selecciona un cargo existente,
              realiza las modificaciones necesarias y guarda los cambios.
            </li>
            <li>
              <strong>Eliminar Cargo:</strong> Selecciona un cargo que deseas
              eliminar del sistema.
            </li>
            <li>
              <strong>Consultar Cargos:</strong> Busca cargos por nombre o
              descripción utilizando el campo de búsqueda.
            </li>
          </ul>
          <p class="text-danger mt-3">
            <strong>Nota:</strong> Asegúrate de que los campos estén completos
            antes de proceder con las operaciones.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal para Crear Cargo -->
  <div class="modal fade" id="createChargeModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Nuevo Cargo</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            (click)="reset()"
          ></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="cargoForm" (ngSubmit)="onSubmitCreate()">
            <div class="mb-3">
              <label for="charge" class="form-label">Cargo</label>
              <input
                type="text"
                class="form-control"
                id="charge"
                formControlName="charge"
                placeholder="Ingrese el cargo"
              />
              <div
                *ngIf="
                  cargoForm.get('charge')?.invalid &&
                  cargoForm.get('charge')?.touched
                "
                class="text-danger"
              >
                <small>El cargo es requerido</small>
              </div>
            </div>
            <div class="mb-3">
              <label for="description" class="form-label">Descripción</label>
              <textarea
                class="form-control"
                id="description"
                formControlName="description"
                rows="3"
                placeholder="Ingrese la descripción del cargo"
              ></textarea>
              <div
                *ngIf="
                  cargoForm.get('description')?.invalid &&
                  cargoForm.get('description')?.touched
                "
                class="text-danger"
              >
                <small>La descripción es requerida</small>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
                aria-label="Close"
                (click)="reset()"
              >
                Cancelar
              </button>
              <button
                type="submit"
                class="btn btn-primary"
                [disabled]="cargoForm.invalid"
              >
                Crear
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal para Editar Cargo -->
  <div class="modal fade" id="editChargeModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modificar Cargo</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            (click)="reset()"
          ></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="cargoForm" (ngSubmit)="onSubmitEdit()">
            <div class="mb-3">
              <label for="editCharge" class="form-label">Cargo</label>
              <input
                type="text"
                class="form-control"
                id="editCharge"
                formControlName="charge"
                placeholder="Ingrese el cargo"
              />
              <div
                *ngIf="
                  cargoForm.get('charge')?.invalid &&
                  cargoForm.get('charge')?.touched
                "
                class="text-danger"
              >
                <small>El cargo es requerido</small>
              </div>
            </div>
            <div class="mb-3">
              <label for="editDescription" class="form-label"
                >Descripción</label
              >
              <textarea
                class="form-control"
                id="editDescription"
                formControlName="description"
                rows="3"
                placeholder="Ingrese la descripción del cargo"
              ></textarea>
              <div
                *ngIf="
                  cargoForm.get('description')?.invalid &&
                  cargoForm.get('description')?.touched
                "
                class="text-danger"
              >
                <small>La descripción es requerida</small>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
                aria-label="Close"
                (click)="reset()"
              >
                Cancelar
              </button>
              <button
                type="submit"
                class="btn btn-primary"
                [disabled]="cargoForm.invalid"
              >
                Actualizar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Botón Flotante -->
  <button
    class="floating-btn btn btn-primary"
    data-bs-target="#createChargeModal"
    data-bs-toggle="modal"
  >
    <span class="bi-plus-lg"></span>
  </button>
</div>
