



<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Información</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
    </div>
  </div>
</div>
</div>

<title>Formulario de Registro de Movimiento de Inventario</title>
<div class="container mt-5" style="">
<div class="row form">
  <form class="custom-form" #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
    <div class="title-section">
      <legend class="mb-4">Nuevo Movimiento de Inventario</legend>
      <button class="btn btn-primary info-button" data-bs-toggle="modal" data-bs-target="#exampleModal"
        style="background-color: rgb(0, 68, 255);">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="28" fill="currentColor" class="bi bi-info-circle"
          viewBox="">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
          <path
            d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />
        </svg>
      </button>
    </div>
    <div class="mb-3 row">
      <div class="col-3">
        <div class="form-group">
          <div class="col-3">
            <label for="inputName" class="col-form-label">Producto</label>
          </div>
          <select class="form-select" id="product" style="border-radius: 0.25rem;" required>
          
          </select>
        </div>
        <div class="error-container">
        </div>
      </div>
      <div class="col-3">
        <div class="input-group form-group">
          <div class="col-2">
            <label for="categories" class="col-form-label" style="width: 100%;">Tipo</label>
          </div>
          <select class="form-select" id="movementsType" style="border-radius: 0.25rem;" required>
          
          </select>
        </div>
        <div class="error-container">
        </div>
      </div>
    </div>
    <!-- tabla productos-->
    <div class="mb-3">
      <div class="form-floating mb-3 ">
        <table id="tableProduct">
          <th>
            <tr>
              <td>Producto</td>
              <td>Estado</td>
              <td>Precio</td>
              <td>Descripción</td>
            </tr>
          </th>
        </table>
      </div>
    </div>

    
    <div class="mb-5">
      <div class="input-group form-group">
        <label for="inputPrice" class="col-form-label">Precio Unitario</label>
        <input type="number" class="form-control">
        <span class="input-group-text">$</span>
      </div>
      <div class="error-container">
      </div>
    </div>
    <div class="mb-2 row">
      <div class="col-6">
        <div class="form-group">
          <label for="state" class="col-form-label">Estado</label>
        <select (click)="myForm.invalid" class="form-select" >
          <option value="1">Disponible</option>
          <option value="2">En uso</option>
          <option value="3">En mantenimiento</option>
        </select>
        </div>
        <div class="error-container">
        </div>
      </div>
      <div class="col-6">
        <div class="input-group mb-3 form-group">
        <label for="supplier" class="col-form-label">Proveedor</label>
          <select class="form-select" id="supplier" name="supplier" style="border-radius: 0.25rem;">
          </select>
          <button class="btn btn-outline-secondary" type="button" id="button-addon2">+</button>
        </div>
        <div class="error-container">
        </div>
      </div>
    </div>
    <div class="mb-4 form-check col-4 ml-2">
      <input type="checkbox" name="reusable" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Reutilizable</label>
    </div>
    <div class="mb-3 row">
      <div class="col-6">
      <div class="form-group n">
        <label for="inputStock" class="col-form-label col-6">Stock Inicial</label>
        <input type="number" name="stock" class="form-control" style="width:80%;">
      </div>
      <div class="error-container">
      </div>
      </div>
      <div class="col-6 form-group n" style="flex: 0 0 50%;text-align: left;">
        <label for="inputMinStock" class="col-form-label col-6">Cantidad mín. para aviso por falta de Stock</label>
        <input   min="1" type="number" name="min"  id="inputMinStock">
      </div>
      <div class="error-container">
      </div>
    </div>
    <div class="mb-3 mt-4 row">
      <div class="col-6 text-center">
        <button type="submit" style="width: 40%;" class="btn btn-secondary">Volver</button>
      </div>
      <div class="col-6 text-center">
        <button [disabled]="!myForm.valid" type="submit" class="btn btn-primary" style="width: 40%;">Registrar</button>
      </div>
    </div>
  </form>
</div>
</div>