.container{
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
}

.titulo{
    text-align: left;
    margin: 25px 10px;
}

button{
    border: 1px solid black;
    border-radius: 5px;
}

table{
    width: 100%;
}

.fila{
    margin-bottom: 20px;
}

.tituloLista{
    border: 1px solid black;
    border-radius: 5px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.volver{
    margin: 20px 0px;
}

#ResultadoMalo{
    text-align: center;
}

.invalid-feedback {
    color: red; 
    display: block; 
    margin-top: 5px; 
    font-size: 0.875em; 
}

.is-invalid{
    border-color: red;
    outline: 1px solid red;
}

.botonDetalleCrear{
    background-color: #007bff;
    color: #ffffff;
}

.btn-info{
    margin-top: 20px;
}

.botonDetalleConsultar, .btn-info{
    background-color: #17a2b8;
    color: #ffffff;
}

table{
    max-height: 626px;
}