<form class="form" action="">
    <div class="container"> 
        <h2 class="titulo">Inventario</h2>
        
        <!-- SELECTS -->
        <div class="row fila">
            <div class="col-1">
                <label for="Reusable">Reusable</label>
            </div>
            <div class="col-4">
                <div class="row">
                    <select name="Reusable" id="Reusable" [(ngModel)]="reusable" #Reusable="ngModel" 
                    (ngModelChange)="cargarProductos()">
                        <option value="" selected></option>
                        <option [value]="true">Si</option>
                        <option [value]="false">No</option>
                    </select>
                </div>
            </div>
            <div class="col-1"></div>
            <div class="col-1 select">
                <label for="Categorias">Categoria</label>
            </div>
            <div class="col-3">
                <div class="row">
                    <select name="Categorias" id="Categorias" 
                        [(ngModel)]="categoria" #Categorias="ngModel" (ngModelChange)="cargarProductos()">
                        <option value="" selected></option>
                        @for (c of categorias; track $index) { <option [value]="c.id">{{c.category}}</option> }
                    </select>
                </div>
            </div>
            <div class="col-1">
                <div class="row">
                    <button class="btn btn-primary">Agregar</button>
                </div>
            </div>
        </div>
        
        
        <!-- CANTIDADES -->
        <div class="row fila">
            <div class="col-2">
                <label for="CantMinima">Cant. minima</label>
            </div>
            <div class="col-3">
                <div class="row">
                    <input type="number" name="CantMinima" id="CantMinima"
                    [(ngModel)]="cantMinima" #CantMinima="ngModel" [ngClass]="{'is-valid': valido, 'is-invalid': !valido}" 
                    min="0" (ngModelChange)="cargarProductos()">
                </div>
                <div *ngIf="!valido" class="invalid-feedback"> {{mensajeValidacion}} </div>
                
            </div>
            <div class="col-1"></div>
            <div class="col-2">
                <label for="CantMaxima">Cant. maxima</label>
            </div>
            <div class="col-3">
                <div class="row">
                    <input type="number" name="CantMaxima" id="CantMaxima"
                    [(ngModel)]="cantMaxima" #CantMaxima="ngModel" min="0" 
                    (ngModelChange)="cargarProductos()">
                </div>  
            </div>
        </div>
        
        <!-- NOMBRE -->
        <div class="row fila">
            <div class="col-1">
                <label for="Nombre">Nombre</label>
            </div>
            <div class="col-10">
                <div class="row">
                    <input type="text" id="Nombre" name="Nombre"
                    [(ngModel)]="nombre" #Nombre="ngModel" (ngModelChange)="cargarProductos()">
                </div>
            </div>
        </div>
        
        <!-- POST PRODUCTO  -->
        <div class="row">
            <div class="group col-9 tituloLista">
                <h4>Lista de productos</h4>
            </div>
            <div class="col-2">
                <div class="row">
                    <button class="btn btn-primary" (click)="irAgregarProducto()">Agregar</button>
                </div>
            </div>
        </div>
        
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Categoria</th>
                        <th>Reusable</th>
                        <th>Cantidad</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @if (productos.length !== 0) {
                        @for (producto of productos; track $index) {
                            <tr>
                                <td>{{producto.name}}</td>
                                <td>{{producto.category}}</td>
                                <td>
                                    @if (producto.reusable) { SI }
                                    @else { NO }
                                </td>
                                <td>{{producto.amountDetails}}</td>
                                <td>
                                    <div class="btn-group dropend">
                                        <button type="button" class="btn">...</button>
                                        <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                                            <span class="visually-hidden">Toggle Dropdown</span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><button class="dropdown-item btn botonDetalleConsultar" (click)="irDetalles(producto.id)">Consultar</button></li>
                                            <li><button class="dropdown-item btn botonDetalleCrear" (click)="irAgregarDetalles(producto.id)">Agregar</button></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                    @else {
                        <tr>
                            <td id="ResultadoMalo" colspan="5">
                                <p>No se han encontrado productos con las caracteristicas solicitadas</p>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        
        <div class="row volver">        
            <div class="col-2">
                <div class="row">
                    <button class="btn btn-secondary">Volver</button>
                </div>
            </div>
        </div>
    </div>
</form>