<div class="container mt-5">
    <div class="row">
        <div class="col-6">
            <google-chart
                [type]="chartTypeProductos" 
                [data]="dataProductos" 
                [columns]="columnNamesProductos"
                [options]="chartOptionsProductos"
                [width]="width"
                [height]="height">
            </google-chart>
        </div>
        <div class="col-6">
            <google-chart
                [type]="chartTypeEstadosProductos" 
                [data]="dataEstadosProductos" 
                [columns]="columnNamesEstadosProductos"
                [options]="chartOptionsEstadosProductos"
                [width]="width"
                [height]="height">
            </google-chart>
        </div>
    </div>
    <div class="row">
        <google-chart
            [type]="chartTypeHistorial" 
            [data]="dataHistorial" 
            [columns]="columnNamesHistorial"
            [options]="chartOptionsHistorial"
            [width]="width"
            [height]="height">
        </google-chart>
    </div>
</div>
