<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="text-start">Gestión de Productos</h2>
    <button class="btn btn-primary info-button d-flex justify-content-center align-items-center" data-bs-toggle="modal"
      data-bs-target="#infoModal" style="background-color: rgb(0, 68, 255); 
           width: 40px; 
           height: 40px; 
           border-radius: 5px; 
           padding: 0; 
           border: none;">
      <!-- Ícono de información -->
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#ffffff" class="bi bi-info-circle">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
        <path
          d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />
      </svg>
    </button>
  </div>

  <!-- Modal de Información -->
  <div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="infoModalLabel">
            Información sobre la Página
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>
            En esta página, puedes gestionar el listado de productos disponibles en el sistema. A continuación, se
            detallan las funciones que puedes realizar:
          </p>
          <ul>
            <li><strong>Filtrar productos:</strong> Utiliza las opciones de filtrado para buscar productos específicos
              en la lista. Puedes filtrar por diferentes criterios, como el nombre del proveedor, el estado y el rango
              de precios.</li>
            <li><strong>Seleccionar productos:</strong> Marca los productos que deseas eliminar utilizando las casillas
              de verificación situadas a la derecha de cada fila.</li>
            <li><strong>Justificativo de eliminación:</strong> Antes de confirmar la eliminación de productos, deberás
              proporcionar un justificativo en el campo correspondiente.</li>
            <li><strong>Navegación entre páginas:</strong> Utiliza los botones de navegación para desplazarte por las
              diferentes páginas de productos si hay una gran cantidad de ellos.</li>
            <li><strong>Exportar datos:</strong> Puedes exportar la lista de productos a formatos PDF y Excel utilizando
              los botones correspondientes en la parte superior de la lista.</li>
          </ul>
          <p>
            Asegúrate de proporcionar un justificativo antes de confirmar la eliminación de productos seleccionados.
            Esta acción no se puede deshacer.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Cerrar
          </button>
        </div>
      </div>
    </div>
  </div>



  <!-- Modal de Confirmación de Eliminación con Justificativo -->
  <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirmDeleteModalLabel">
            Confirmación de Eliminación
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>¿Está seguro que desea eliminar los productos seleccionados?</p>
          <div class="mb-3">
            <label for="modalJustificativo" class="form-label">Justificativo</label>
            <textarea id="modalJustificativo" class="form-control" [(ngModel)]="justificativo" rows="3"
              placeholder="Escribe el motivo por el cual se borran los productos seleccionados"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="confirmDelete()"
            [disabled]="justificativo.trim() === ''">
            Eliminar
          </button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Cancelar
          </button>
        </div>
      </div>
    </div>
  </div>

<!-- Sección: Opciones de Búsqueda y Acciones -->
<div class="d-flex mb-3 justify-content-between align-items-center">
  <!-- Contenedor Izquierdo: Campo de Búsqueda y ComboBox -->
  <div class="d-flex align-items-center">
    <!-- Campo de Búsqueda -->
    <input type="text" id="filterInput" class="form-control me-3" placeholder="Buscar"
      (input)="applyFilter($event)" />

    <!-- ComboBox de Estado con el evento (change) para filtrar -->
    <select id="estadoSelect" class="form-select" style="width: auto;" (change)="applyStateFilter($event)">
      <option value="">Seleccionar Estado</option>
      <option value="Disponible">Disponible</option>
      <option value="Mantenimiento">Mantenimiento</option>
      <option value="Prestado">Prestado</option>
    </select>
  </div>

  <!-- Contenedor Derecho: Selección y Botones de Exportación -->
  <div class="d-flex align-items-center">
    <input type="checkbox" id="selectAll" (change)="toggleSelectAll($event)" class="form-check-input me-2" />
    <label for="selectAll" class="me-3">Seleccionar Todo</label>

    <button class="btn btn-success me-2" (click)="generateExcel()">
      <i class="bi bi-file-earmark-excel"></i>
    </button>
    <button class="btn btn-danger me-2" (click)="generatePDF()">
      <i class="bi bi-file-earmark-pdf"></i>
    </button>
  </div>
</div>



  <!-- Sección: Tabla de Detalles de Productos -->
  <div class="table-responsive mb-4 justify-content-between">
    <table id="productTable" class="table table-striped table-bordered w-100">
      <thead>
        <tr>
          <th>Descripción</th>
          <th>Nombre del Proveedor</th>
          <th>Estado</th>
          <th class="text-end">Precio</th>
          <th class="text-center">Seleccionar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let detail of details">
          <td>{{ detail.description }}</td>
          <td>{{ detail.supplierName }}</td>
          <td>{{ detail.state }}</td>
          <td class="text-end">{{ detail.price | currency : "USD" }}</td>
          <td class="text-center">
            <input type="checkbox" [checked]="selectedIds.includes(detail.id)" (change)="toggleSelection(detail.id)" />
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Sección: Botones de Acción -->
  <div class="d-flex justify-content-end">
    <button class="btn btn-secondary me-2" (click)="volverInventario()">
      Volver
    </button>

    <button id="deleteButton" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal"
      [disabled]="selectedIds.length === 0">
      Eliminar
    </button>
  </div>
</div>

<!-- Modal para registrar Movimiento de Inventario -->

<div class="modal fade" id="warehouseModal" role="dialog" aria-labelledby="warehouseModal" style="width: 100%;" aria-hidden="">
  <div class="modal-dialog" style="width: 100%;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Registro de Movimiento de Inventario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="cleanDTO()"></button>
      </div>
      <div class="modal-body">
        <div class="row" style="color: gray;">
          @if(selectedDetailstoShow.length === 0) {
            <p class="col-12">No
              hay ítems seleccionados</p>
          }@else {
            <label for="detailsSelected" class="col-form-label col-12">Ítems seleccionados: {{selectedDetailstoShow.length}}</label>
          }
        </div>
        <div class="mt-2" style="">
          <div class="row form">
            <form class="custom-form" #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
              <div class="mb-3 row">
                <label for="movementType" class="col-form-label col-2">Tipo</label>
                <div class="col-10">
                  <select class="form-select" #movementType="ngModel" 
                  [(ngModel)]="dtoCreate.id_movement_type" 
                  id="movementType" style="border-radius: 0.25rem;"
                  name="movementType"
                   min="1" required>
                    <option value="1">Préstamo</option>
                    <option value="2">Devolución</option>
                    <option value="3">A mantenimiento</option>
                  </select>
                  <div class="error-container">
                    <div *ngIf="movementType.invalid && movementType.touched" class="error-message">
                      @if(movementType.invalid){
                        @if(movementType.errors?.['min']){
                          <p>Seleccione un Tipo de Movimiento</p>
                        }
                        @else {
                          <p>El campo es requerido</p>
                        }
                      }
                    </div>

                  </div>
                </div>
              </div>

              <div class="mb-3 row">
                <label for="inputName" class="col-form-label col-2">Empleado</label>
                <div class="col-10">
                  <select class="form-select" id="employees" style="border-radius: 0.25rem;"
                  name="employee" #employee="ngModel"  
                  [(ngModel)]="dtoCreate.employee_id" (ngModelChange)="changeSelectEmployees()" required>
                    <option value="0" disabled selected>Seleccione un Empleado</option>
                      @for(e of employees; track $index) {
                        <option value="{{e.id}}">{{e.fullName}}</option>
                      }
                  </select>
                </div>
              </div>

              <div class="mb-3 row">
                <label for="inputApplicant" class="col-form-label col-2">Solicitante</label>
                <div class="col-10">
                  <input type="text" class="form-control" id="inputApplicant" name="applicant"
                  #applicant="ngModel" required minlength="3" maxlength="50"
                  [(ngModel)]="dtoCreate.applicant" [disabled]="dtoCreate.employee_id!=0"
                  [ngClass]="{
                    'is-invalid': applicant.invalid && applicant.touched, 
                    'is-valid': applicant.valid && applicant.touched
                }">
                </div>
                <div class="error-container " style="color: red;   min-height: 20px;">
                  <div *ngIf="applicant.invalid && applicant.touched" class="error-message">
                    @if(applicant.invalid){
                      @if(applicant.errors?.['required']){
                        <p>El campo es requerido</p>
                      }
                      @else {
                        <p>El campo debe tener entre 3 y 50 caracteres</p>
                      }
                    }
                  </div>
                </div>
              </div>

              <div class="container mt-2 mb-2 py-2" style="border: 1px solid rgba(128, 128, 128, 0.3);
              border-radius: 10px;">
                <div class="mb-3 row">
                  <label for="inputDate"  class="col-form-label col-2">Fecha</label>
                  <div class="col-10">
                    <input type="datetime-local"  [value]="dtoCreate.date | date: 'yyyy-MM-ddTHH:mm'"
                     #date="ngModel" [(ngModel)]="dtoCreate.date" required name="date"
                     class="form-control" id="date" [ngClass]="{
                      'is-invalid': date.invalid && date.touched, 
                      'is-valid': date.valid && date.touched
                  }">
                  </div>
                  <div class="error-container">
                    <div *ngIf="date.invalid && date.touched" class="error-message">
                      @if(date.invalid && date.touched){
                        @if(date.errors?.['required']){
                          <p>El campo es requerido</p>
                        }
                      }
                    </div>
                  </div>
                </div>
              </div>
              

              <div class="mb-1 mt-3 form-check  ml-2">
                <input type="checkbox" name="reusable" class="form-check-input" id="exampleCheck1" (change)="reincorporationDate=!reincorporationDate">
                <label class="form-check-label" for="exampleCheck1">Programar fecha de reincorporación</label>
              </div>

              <div class="container mt-2 mb-2 py-2" style="border: 1px solid rgba(128, 128, 128, 0.3);
              border-radius: 10px;">
                <div class="mb-3 row">
                  <label for="inputDate" class="col-form-label col-2">Fecha</label>
                  <div class="col-10">
                    <input type="datetime-local"  [value]="dtoCreate.date | date: 'yyyy-MM-ddTHH:mm'"
                    class="form-control" id="inputApplicant" [disabled]="!reincorporationDate">
                  </div>
                </div>
              </div>

            </form>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="submit" [disabled]="!myForm.invalid"
         class="btn btn-primary" data-bs-dismiss="modal">Registrar</button>
      </div>
    </div>
  </div>
</div>


